<div class="container">
  <div class="row">
    <div class="span12">
      <div class="page-header">
        <h3>Organizers</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <aside id="users-searchform" class="span3">
      <div class="well">
      <header>
        <h3>Search Controls</h3>
      </header>
      <form class="form">
        <div class="">
          <%= select_tag "organizer_city", options_for_select(@options), prompt: "Filter by City"  %>
          <br>
          <!-- <h4>Sort your results</h4> <br> -->
          <ul class="nav nav-list">
            <!-- <li class="nav-header">Event Average</li>
            <li class=""><a href="">Sales</a></li>
            <li class=""><a href="">Attendence</a></li>
            <li class="divider"></li>
            <li class="nav-header">Experience</li>
            <li class=""><a href="">Total Events</a></li>
            <li class=""><a href="">Successful</a></li> -->
            <li class="divider"></li>
            <button class="btn btn-block" value="Reset Form">Clear Filter</button>
            <li class="divider"></li>
          </ul>
        </div>
      </form>
      </div>
    </aside>

    <section id="user-index-grid" class="span9">
          <ul class="thumbnails">
            <% @profiles.each do |profile| %>
            <li class="span3">
              <a class="thumbnail" href="<%= profile_path(profile) %>">
                <% if profile.image? %>
                  <%= filepicker_image_tag profile.image, w: 240, h: 140, fit: 'crop' %>
                <% else %>
                  <img src="http://placehold.it/300x240" alt="">
                <% end %>
              </a>
              <h3>
                <%= profile.organizer_name || "organizer name"  %>
              </h3>
            </li>
            <% end %>
          </ul>
          <%= will_paginate @profiles %>
    </section>
  </div>
</div>