<div class="container">
  <div class="row">
    <div class="span12">
      <% if user_signed_in? && current_user.profile == @profile %>
        <%= link_to "Content Editor", "/editor/promoter" + request.path, id: "edit_link", class: "btn btn-large editor", rel: "popover", data: { content: "This will reveal a toolbar allowing you to edit your name, general info and tour info on the page. Click the save icon in the toolbar when you're finished.", trigger: "hover", :"original-title" => "Editing Content" } %>
        <%= link_to "Profile Settings", edit_promoter_profile_path(@profile), class: "btn btn-large editor", rel: "popover", data: { content: "Edit your picture, media, location and hide/un-hide your profile.", trigger: "hover", :"original-title" => "Profile Settings" } %>
      <% elsif user_signed_in? && current_user.promoters.where("event_id IS NULL").include?(@profile.user) %>
        <button class="btn btn-success">Tour Requested <i class="icon-check icon-white"></i></button>
      <% elsif user_signed_in? %>
        <%= link_to "Request Tour", requests_path(promoter_id: @profile.user_id), class: "btn btn-large requests", method: :post, rel: "popover", data: { content: "By pressing this button the Organizer will receive a private message containing your contact details and your media. Click on Help &Info for more on how requests work.", trigger: "hover", :"original-title" => "About Requests" }, method: :post %>
      <% end %>
    </div>
  </div>
  <section class="section-box">
    <div class="row">
      <div class="label-box">Organizer Info</div>
      <div id="promoter-pic" class="span2">
        <% if @profile.image? %>
          <%= filepicker_image_tag @profile.image, w: 200, h: 200, fit: 'crop' %>
        <% elsif @user.avatar? %>
          <%= filepicker_image_tag @user.avatar, w: 200, h: 200, fit: 'crop' %>
        <% else %>
          <img src="//placehold.it/200" class="img-polaroid">
        <% end %>
      </div>
      <div class="span3 offset2" align="center">
        <div class="page-header">
          <h2>
            <div id="name">
              <%= @profile.promoter_name || "Promoter Name" %>
            </div>
          </h2>
        </div>
        <h4><p class="muted">
          <% if @profile.location %>
            <%= @profile.location.city %>, <%= @profile.location.country %>
          <% else %>
              location not set
          <% end %>
        </p></h4>
      </div>
      <div class="span2 offset2">
        <fieldset>
          <dl align="center">
            <dt>Status</dt>
            <dd><span class="badge badge" style="font-size:14px;"><%= @profile.state %></span></dd>
            <dt>Tour Requests</dt>
            <dd> <span class="badge"><%= @requests.count || "None currently" %></span></dd>
          </dl>
        </fieldset>
      </div>
    </div>
  </section>

  <section id="promoter-stats" class="section-box">
    <div class="label-box">Organizer's Events</div>
      <div class="row-fluid">
        <table class="table table-striped">
              <thead>
                <tr>
                  <th>Artist</th>
                  <th>Venue</th>
                  <th>Date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @events.each do |event| %>
                <tr>
                  <td><%= event.artist %></td>
                  <td><%= event.venue %></td>
                  <td><%= time_tag event.date %></td>
                  <td><%= link_to "Details", event_path(event) %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
            <%= will_paginate @events %>
      </div>
  </section>

  <section id="tour-info" class="section-box">
    <div class="row-fluid">
      <div class="label-box">Organizer Info</div>
      <div class="span5">
          <% if @profile.about? %>
            <%= raw @profile.about %>
          <% else %>
            <p>This is where you can talk about your music life! I'm assuming most of the Organizers will have a background in music appreciation, but of course a lot of appreciaters are musicians also.</p>

            <p>I really hope that all the seekers of good music will start organizing shows. There are more independent radio shows, podcasts and blogs than ever and that's really great but the follow on needs to be a live show - musicians need to perform.</p>

            <p>So tell artists if it isn't obvious already where they can go to watch, listen or read about you. You can read my blog for instance at <a href="//seocahill.com">seocahill.com</a>, listen to seocahill's playlists at Grooveshark or google my band, Crete Boom. </p>

            <p> In the media section opposite maybe stick in a slideshow or video of the venue/s you're using, or of past events. </p>

            <p>Ultimately this section is for everything and anything you think might interest an artist that doesn't fit into the other sections.
            </p>
            <p lead><%= @user.name %></p>
          <% end %>
      </div>
      <div class="span6" >
        <!-- <div id="placeholder"></div> -->
        <% if @profile.promoter_media? %>
          <%= @profile.promoter_media_html %>
        <% else %>
          <div><img src="//quickimage.it/460x340&text=Media"></div>
        <% end %>
      </div>
    </div>
  </section>
</div>