<%= simple_form_for [:organizer, @profile], :html => { class: 'form-horizontal' } do |f| %>
  <%#= f.error_messages %>

  <fieldset>
    <legend></legend>

    <%= f.input :visible, as: :select, hint: "you can hide your profile from the public"  %>
    <%= f.input :image, label: "Image or Logo", hint: "upload or pick an image or logo for your Organizer profile" do %>
      <%= f.filepicker_field :image, button_class: "btn btn-primary btn-large"  %>
    <% end %>
    <%= f.input :promoter_media, hint: "This can be an Image or a Video of your choosing, perhaps of a past event or pictures of the venue you use?" %>
    <%= f.input :new_location, label: "Enter your Location", placeholder: "Dublin, Ireland.", hint: "This should be the general location of where you run your events." %>

    <div class="form-actions">
        <%= f.submit nil, class: "btn btn-primary" %>
        <%= link_to 'Cancel', organizer_root_path, class: 'btn' %>
    </div>
  </fieldset>

<% end %>