<%= simple_form_for([:organizer, @event, @event_user], remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :event_id, as: :hidden, input_html: {value: @event.id} %>
    <%= f.input :email %>
    <%= f.input :state, label: "User Permissions" do %>
      <%= f.select :state, [['read', :reader], ['edit', :editor], ['admin', :event_admin]] %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
