<tbody>
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Email</th>
        <th>Card</th>
        <th>Admitted?</th>
      </tr>
    <% @tickets.each do |ticket| %>
      <tr id="search-results">
        <td><%= ticket.number %></td>
        <td><%= ticket.order.name %></td>
        <td><%= ticket.order.email %></td>
        <td><%= ticket.order.last4 %></td>
        <td><%= ticket.admitted ? ticket.admitted.strftime("%e-%m-%y %H:%M") : "no" %> </td>
      </tr>
    <% end %>
  </tbody>