<h4>100 Motels <small>tour the world without a record label</small></h4><br>
<h5>Hi <%= @member_profile.email %></h5>
<p><%= @inviter.profile.email  %> has invited you to become an administrator for: <strong><%= @event.title %> in <%= @event.venue %> </strong> , a 100 Motels event that <%= @inviter.profile.email %> is organizing. </p><br>
<p>You can check out the event here: <%= event_url(@event) %></p><br>
<p>You can read more about 100 Motels here: <%= info_url %>.</p>