<div class="container">
  <div class="row">
    <div class="span12">
      <div class="page-header">
        <h3>Showing Promoter's in <%= request.location.city %></h3>
      </div>
    </div>
  </div>
  <div class="row">
    <aside id="users-searchform" class="span3">
      <div class="well">
      <header>
        <h3>Search Controls</h3>
      </header>
      <form class="form">
        <div class="">
          <label>Choose a City</label>
          <input results="10" type='search' autofocus="autofocus"/> <br>
          <br>
          <h4>Filter your results</h4> <br>
          <ul class="nav nav-list">
            <li class="nav-header">Event Average</li>
            <li class=""><a href="">Sales</a></li>
            <li class=""><a href="">Attendence</a></li>
            <li class="divider"></li>
            <li class="nav-header">Experience</li>
            <li class=""><a href="">Total Events</a></li>
            <li class=""><a href="">Successful</a></li>
            <li class="divider"></li>
          </ul>
        </div>
      </form>
      </div>
    </aside>

    <section id="user-index-grid" class="span9">
          <ul class="thumbnails">
            <% @users.each do |user| %>
            <li class="span3">
              <a class="thumbnail" href="#">
                <% if user.avatar? %>
                  <%= filepicker_image_tag user.avatar, w: 300, h: 240, fit: 'crop' %>
                <% else %>
                  <img src="http://placehold.it/300x240" alt="">
                <% end %>
              </a>
              <h3><%= user.name %></h3>
              <p>Featuring a hero unit for a primary message and three supporting elements.</p>
              <p><%= button_to "View Profile", promoter_profile_path(user), method: :get, class: "btn button-primary" %></p>
            </li>
            <% end %>
          </ul>
          <%= will_paginate @users %>
    </section>
  </div>
</div>