<table width="600px" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr>
		<td class="head-text" width="100%" valign="top">
			<h3>
				<%= @greeting %> We appreciate you :)
			</h3>
		</td>
	</tr>
</table>
<% @order.line_items.each do |l| %>
	<table width="600px" cellpadding="0" cellspacing="0" border="0" align="center">
		<tr>
			<td class="head-text" width="100%" valign="top">
				<div class="page-header">
					<h1>
						<small>100 Motels Presents!</small> <br>
						- <br>
						<%= l.event.artist %>
					</h1>
				</div>
			</td>
		</tr>
	</table>
	<table width="600px" cellpadding="0" cellspacing="0" border="0" align="center">
		<tr>
			<td width="200px" valign="top">
				<img class="image_fix" src="//placehold.it/170&text=QR+code" alt="Your alt text" title="Your title text" width="x" height="x" />
				<img >
			</td>
			<td width="200px" valign="top" align="center">
				<header class="">
					<h4>
						Live in <%=l.event.venue %> <br>
						on <br>
						<%= time_tag l.event.date %> <br>
					</h4>
					<h1>~</h1>
					<h4>
						Doors  <br>
						at <br>
						<%= l.event.doors.strftime("%l:%M %p") %>
					</h4>
				</header>
			</td>
			<td width="200px" valign="top">
				<div class="head-text well">
					<br>
					<p>Admit</p>
						<h1><%= l.quantity %></h1>
					<p><%= "Person".pluralize(l.quantity) %> only</p>
				</div>
			</td>
		</tr>
	</table>
	<table width="600px" cellpadding="0" cellspacing="0" border="0" align="center">
		<tr>
			<td class="head-text" width="100%" valign="top">
				<div class="page-header">
					<h5>
						<small>Present the QR code for addmission and/or readmission subject to the promoter's <a href="">T&C</a></small> <br>
					</h5>
				</div>
			</td>
		</tr>
	</table>
<% end %>
	<table width="600px" cellpadding="0" cellspacing="0" border="0" align="center">
		<tr>
			<td width="600px" valign="top">
				<h3>Your order</h3>
				<%= render 'orders/order' %>
			</td>
		</tr>
	</table>
	<table width="600px" cellpadding="0" cellspacing="0" border="0" align="center">
		<tr>
			<td width="600px" valign="top">
				<h3>Your receipt</h3>
				<div class="head-text" >
					<%= render 'orders/payment' %>
				</div>
			</td>
		</tr>
	</table>