<table width="600px" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr>
		<td class="head-text" width="100%" valign="top">
			<h3>
				<%= @greeting %> Enjoy the Show :)
			</h3>
		</td>
	</tr>
</table>
	<table width="600px" cellpadding="0" cellspacing="0" border="0" align="center">
		<tr>
			<td class="head-text" width="100%" valign="top">
				<div class="page-header">
					<h1>
						<small>100 Motels Presents!</small> <br>
						- <br>
						<%= @event.artist %>
					</h1>
				</div>
			</td>
		</tr>
	</table>
	<table width="600px" cellpadding="0" cellspacing="0" border="0" align="center">
		<tr>
			<td width="200px" valign="top">
				<%= raw(@qr) %>
			</td>
			<td width="200px" valign="top" align="center">
				<header class="">
					<h4>
						Live in <%=@event.venue %> <br>
						on <br>
						<%= time_tag @event.date %> <br>
					</h4>
					<h1>~</h1>
					<h4>
						Doors  <br>
						at <br>
						<%= @event.doors.strftime("%l:%M %p") %>
					</h4>
				</header>
			</td>
			<td width="200px" valign="top">
				<br>
				<div class="head-text">
					<br>
					<p>Admit</p>
						<h1>1</h1>
					<p><%= "Person".pluralize(@order.quantity) %> only</p>
				</div>
			</td>
		</tr>
	</table>
	<table width="600px" cellpadding="0" cellspacing="0" border="0" align="center">
		<tr>
			<td class="head-text" width="100%" valign="top">
				<div class="page-header">
					<h5>
						Ticket Number <%= @ticket.quantity_counter %> for this Customer
						<small>Present the QR code for addmission and/or readmission subject to the organizer's T&C</small> <br>
					</h5>
				</div>
			</td>
		</tr>
	</table>
