<div class="row">
  <div class="span12" id="button-menu">
    <%= form_tag  charge_multiple_orders_path, method: :post  do %>
      <div class="option-buttons">
        <% if current_user.profile && current_user.profile.api_key %>
          <%= submit_tag "Charge Selected", class: "btn btn-success" %>
          <%= submit_tag "Refund Selected", name: 'refund', class: "btn btn-danger", id: "refund" %>
        <% elsif current_user.profile %>
          <%= link_to image_tag('blue.png'), user_omniauth_authorize_path(:stripe_connect), class: "" %>
          <%= submit_tag "Cancel Event", name: 'refund', class: "btn btn-danger", id: "refund" %>
        <% end %>
        <%= link_to "Generate pdf", organizer_event_path(@event, format: "pdf"), class: "btn" %>
      </div>
      <hr>
  </div> <!-- /button menu -->
</div> <!-- /row -->
<div class="row">
  <aside class="span2">
    <ul class="nav nav-tabs nav-stacked">
      <li><%= link_to "All", organizer_root_path %></li>
      <li><%= link_to "Pending", new_organizer_event_path %></li>
      <li><%= link_to "Paid" %></li>
      <li><%= link_to "Failed", organizer_requests_path %></li>
      <li><%= link_to "Refunded", organizer_events_path %></li>
    </ul>
  </aside>
  <div class="span9">
      <%= hidden_field_tag "organizer", current_user.profile.id %>
      <table class="table table-striped table-bordered" id="organizer-customers">
        <thead>
          <tr>
            <th>
              <button type="button" id="check_all", class="btn btn-mini">
                <i class="icon-ok"></i>
              </button>
            </th>
            <th>Customer Name</th>
            <th>Email</th>
            <th>Admits:</th>
            <th>Order Total</th>
            <th colspan="1" >Status</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
          <tr>
            <td><%= check_box_tag "order_ids[]", order.id %> </td>
            <td><%= order.name %> </td>
            <td><%= order.email %> </td>
            <td> <%= order.quantity %></td>
            <td> <%= number_to_currency(order.total(@event)) %></td>
            <td> <span class="label"><%= order.stripe_event  %></span> </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div> <!-- /table form -->
</div> <!-- /row -->
