<%= simple_form_for [:promoter, @event], :html => { class: 'form-horizontal' } do |f| %>


  <fieldset>
    <legend><%= controller.action_name.capitalize %> Event</legend>

    <%= f.input :state, :label => "Visible to Public?", :collection => ["hidden","visible"], :selected => "hidden" %>
    <%= f.input :artist, label: "Artist / Event Name", placeholder: "Crete Boom" %>
    <%= f.input :venue, label: "Name of Venue", placeholder: "The Rickshaw" %>
    <%= f.input :new_location, label: "Location of Venue", placeholder: "123 Back Street, Dublin, Ireland" %>
    <%= f.input :venue_capacity, placeholder: "100" %>
    <%= f.input :date, label: "Date of Event" %>
    <%= f.input :doors, label: "Event start time" %>
    <%= f.input :ticket_price, placeholder: "10.50" %>
    <%= f.input :target, label: "Target Attendence", placeholder: "100" %>
    <%= f.input :video, label: "Youtube/Vimeo url", placeholder: "http://youtu.be/x953GwKEwI8", hint: "Showcase the Artists playing at your event" %>
    <%= f.input :music, label: "Soundcloud url", placeholder: "http://snd.sc/ZmJJnw", hint: "A playlist featuring your Artists, that users can download and share" %>
    <%= f.input :image, label: "Upload Artist Images" do %>
        <%= f.filepicker_field :image, button_class: "btn btn-primary btn-medium", hint: "Upload an image or connect to other service providers to pick one instead" %>
    <% end %>

    <div class="form-actions">
        <%= f.submit nil, class: "btn btn-primary" %>
        <%= link_to 'Cancel', events_path, class: 'btn' %>
    </div>
  </fieldset>

<% end %>