<div class="page-header"><h3>Your Events</h3></div>
<div class="row">
  <div class="span-12">
    <br>
  </div>
</div>
<div class="row">
  <div class="span12">
      <div class="btn-toolbar">
      <button class="btn btn-primary">New Event</button>
      <button class="btn">Profile</button>
      <button class="btn">Stripe</button>
  </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Artist</th>
          <th>Venue</th>
          <th>Date</th>
          <th>Attending</th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
        <tr>
          <td><%= link_to event.artist, [:promoter, event], class: "" %></td>
          <td> <%= event.venue %> </td>
          <td> <%= time_tag event.date %> </td>
          <td> <%= event.orders.to_a.sum { |item| item.quantity} %> </td>
          <td> <%= event.location.nil? %> </td>
          <td >
            <div class="btn-group pull-right">
              <%= link_to raw('<i class="icon-eye-open"></i>'), event_path(event), class: "btn" %>
              <%= link_to raw('<i class="icon-pencil"></i>'), edit_promoter_event_path(event), class: "btn" %>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
