<div class="row">
  <div class="col-lg-8 col-lg-offset-2 well">
  <h3 class="page-header">Send Notification</h3>
  <%= form_tag admin_event_messages_path, action: :create, class: "form-horizontal" do %>
  <div class="form-group">
  <%= label_tag :date, "New date if rescheduling", class: "col-lg-3 control-label" %>
    <div class="col-lg-6">
      <%= date_field_tag :date, nil, class: "form-control", placeholder: ""%>
    </div>
  </div>
  <div class="form-group">
  <%= label_tag :message, "Message to customers", class: "col-lg-3 control-label" %>
    <div class="col-lg-6">
      <%= text_area_tag :message, nil, class: "form-control", placeholder: "", rows: "10" %>
    </div>
  </div>

  <div class="form-group">
  <div class="col-lg-offset-3 col-lg-6">
    <div class="btn-group block-button-group">
      <button type="submit" class="btn btn-primary">Message</button>
      <button type="submit" class="btn btn-warning">Defer</button>
      <button type="submit" class="btn btn-danger">Cancel</button>
    </div>
  </div>
  </div>
  <% end %>
  </div>
</div>