<%= form_for [:admin, @event, @message], html: {class: "form-horizontal"} do |f| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="text-right">
      <%= f.submit "Reschedule", name: "message[option]", class: "btn btn-lg btn-warning btn-lg" %>
      <%= f.submit "Cancel Event", name: "message[option]", class: "btn btn-lg btn-danger btn-lg" %>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <% if @message.errors.any? %>
          <div class="alert alert-danger" >
            <a class="close" data-dismiss="alert">&#215;</a>
            <% @message.errors.full_messages.each do |msg| %>
              <%= content_tag :div, msg %>
            <% end %>
          </div>
        <% end %>
          <div class="form-group">
            <%= f.label :date, "New date if rescheduling", class: "col-lg-3 control-label" %>
            <div class="col-lg-6">
              <%= f.date_field :date, class: "form-control input-lg", placeholder: ""%>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :message, "Message to customers", class: "col-lg-3 control-label" %>
            <div class="col-lg-6">
              <%= f.text_area :message, class: "form-control", placeholder: "", rows: "15" %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>
