<div class="container">
	<div class="row">
		<div id="organizer-pic" class="span2" align="center">
      <p><%= @user.avatar %></p>
			<p><%= @user.edit %></p>
		</div>
    <div class="span9">
      <div class="row-fluid">
        <div class="span3">
          <dl>
            <dt>Email</dt>
            <dd><%= @user.email %></dd>
            <dt>Username</dt>
            <dd><%= @user.name %></dd>
          </dl>
        </div>
        <div class="span3">
          <%= @user.card %>
        </div>
        <div class="span3">
          <h4>Update Card</h4>
          <p><%= @user.update_card %></p>
        </div>
        <div class="span3">
          <h4>Refresh you Stripe API token</h4>
          <%= link_to image_tag('blue.png'), '/auth/stripe_connect' %>
        </div>
      </div>
    </div>
	</div>
</div>