<div class="container">

	<section class="section-box">
		<div class="row">
			<div class="label-box">User Info</div>
			<div id="organizer-pic" class="span2" align="center">
				<% if @user.avatar? %>
					<%= filepicker_image_tag @user.avatar, width: 200, height: 200, fit: 'crop' %>
				<% else %>
					<img src="//placehold.it/200" class="img-polaroid">
				<% end %>
				<h4>
				</h4>
				<p><%= link_to "Edit Account Settings", edit_user_registration_path(@user), class: "btn btn-block" %></p>
			</div>
      <div class="span9">
        <div class="row-fluid">
          <div class="span3">
            <dl>
              <dt>Email</dt>
              <dd><%= @user.email %></dd>
              <dt>Username</dt>
              <dd><%= @user.name || "none provided" %></dd>
            </dl>
          </div>
          <div class="span4">
            <dl>
              <dt>Current Card</dt>
              <dd>
                <% if @user.customer_id %>
                  <%= @user.type %> #<%= @user.last4 %>, Expires: <%= @user.exp_month %>/<%= @user.exp_year %>
                <% else %>
                  none provided
                <% end %>
              </dd>
              <dt>Change or Add card</dt>
              <dd>
                <%= form_tag  change_card_user_path, method: :put do %>
                  <script src="https://button.stripe.com/v1/button.js" class="stripe-button" data-panel-label="Save" data-label="Add Card" data-key="<%= ENV['STRIPE_PUBLIC_KEY'] %>" >
                  </script>
                <% end %>
              </dd>
            </dl>
          </div>
          <div class="span4">
            <dl>
              <dt>Artist Media</dt>
              <% if @user.media %>
              <dd> <%= @user.media %> </dd>
              <dt>Preview (opens in new window)</dt>
              <dd>
                <a href="#preview-modal" data-toggle="modal" class="btn">Preview Media</a>
              </dd>
              <% else %>
              <dd><p>You can add a Vimeo, Youtube or Soundcloud playlist here.</p></dd>
              <!-- <dd class="user-account-spacer"></dd> -->
              <dd>
                <%= link_to "Add Media", edit_user_registration_path(@user), class: "btn" %>
              </dd>
              <% end %>
              </dd>
            </dl>
          </div>
        </div>
      </div>
		</div>
	</section>

  <div class="modal large hide fade" id="preview-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3></h3>
    </div>
    <div class="modal-body">
      <div id="media-frame"></div>
        <%= current_user.media_html %>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
  </div>

</div>