<div class="container">

	<section class="section-box">
		<div class="row">
			<div class="label-box">User Info</div>
			<div id="promoter-pic" class="span2" align="center">
				<% if @user.avatar? %>
					<%= filepicker_image_tag @user.avatar, w: 200, h: 200, fit: 'crop' %>
				<% else %>
					<img src="//placehold.it/200" class="img-polaroid">
				<% end %>
				<h4>
					<%= @user.location.try(:address) %>
					<%= @user.name %>
				</h4>
				<p><%= link_to "Edit", edit_user_registration_path(@user), class: "btn btn-primary" %></p>
			</div>

			<div class="span9">
        <div class="tabbable tabs">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#info" data-toggle="tab">Information</a></li>
            <li class=""><a href="#purchases" data-toggle="tab">Purchases</a></li>
          </ul>
        </div>
        <div class="tab-content">
          <div class="tab-pane tour-content" id="info">
          	<dl>
          		<dt>Email</dt>
          		<dd><%= @user.email %></dd>
          		<dt>Credit Card</dt>
          		<dd>
          			<% if @user.customer_id %>
          					#1234
          			<% else %>
          				none provided
          			<% end %>
          		</dd>
          	</dl>
          </div>
					<div class="tab-pane active tour-content" id="purchases">
						<table class="table table-striped">
	              <thead>
	                <tr>
	                  <th>Promoter</th>
	                  <th>Event</th>
	                  <th>Status</th>
	                  <th>Purchased on</th>
	                </tr>
	              </thead>
	              <tbody>
		                <% @orders.each do |order| %>
		                <tr>
		                  <td><%= link_to "#{promoter(order).name}", promoter_profile_path(promoter(order)) %></td>
		                  <td><%= link_to "#{Event.find(order.event_id).artist}", event_path(Event.find(order.event_id)) %></td>
		                  <td><%= order.stripe_event %></td>
		                  <td><%= time_tag order.created_at %></td>
		                  <% if order.stripe_event == :pending %>
			                  <td><%= link_to raw('Cancel <i class="icon-remove"></i>'), order_path(order), class: "btn", method: :delete, confirm: "Are you sure you want to cancel your order?" %></td>
		                 <% end %>
		                </tr>
		                <% end %>
	              </tbody>
	              <%= will_paginate @orders %>
	          </table>
	        </div>
				</div>
			</div>
		</div>
	</section>
</div>