<div class="container">

	<section class="section-box">
		<div class="row">
			<div class="label-box">User Info</div>
			<div id="organizer-pic" class="span2" align="center">
				<% if @user.avatar? %>
					<%= filepicker_image_tag @user.avatar, width: 200, height: 200, fit: 'crop' %>
				<% else %>
					<img src="//placehold.it/200" class="img-polaroid">
				<% end %>
				<h4>
				</h4>
				<p><%= link_to "Edit Account Settings", edit_user_registration_path(@user), class: "btn btn-block" %></p>
			</div>
      <div class="span9">
        <div class="row-fluid">
          <div class="span3">
            <dl>
              <dt>Email</dt>
              <dd><%= @user.email %></dd>
              <dt>Username</dt>
              <dd><%= @user.name || "none provided" %></dd>
            </dl>
          </div>
          <div class="span4">
            <dl>
              <dt>Current Card</dt>
              <dd>
                <% if @user.customer_id %>
                  <%= @user.type %> #<%= @user.last4 %>, Expires: <%= @user.exp_month %>/<%= @user.exp_year %>
                <% else %>
                  none provided
                <% end %>
              </dd>
              <dt>Change or Add card</dt>
              <dd>
                <%= form_tag  change_card_user_path, method: :put do %>
                  <script src="https://button.stripe.com/v1/button.js" class="stripe-button" data-panel-label="Save" data-label="Add Card" data-key="<%= ENV['STRIPE_PUBLIC_KEY'] %>" >
                  </script>
                <% end %>
              </dd>
            </dl>
          </div>
          <div class="span4">
            <dl>
              <dt>Artist Media</dt>
              <% if @user.media %>
              <dd> <%= @user.media %> </dd>
              <dt>Preview (opens in new window)</dt>
              <dd>
                <a href="#preview-modal" data-toggle="modal" class="btn">Preview Media</a>
              </dd>
              <% else %>
              <dd><p>You can add a Vimeo, Youtube or Soundcloud playlist here.</p></dd>
              <!-- <dd class="user-account-spacer"></dd> -->
              <dd>
                <%= link_to "Add Media", edit_user_registration_path(@user), class: "btn" %>
              </dd>
              <% end %>
              </dd>
            </dl>
          </div>
        </div>
      </div>
			<div class="span11" id="user-profile-tabs">
        <div class="tabbable tabs">
          <ul class="nav nav-tabs">
          	<li class="active"><a href="#purchases" data-toggle="tab">Purchases</a></li>
            <li class=""><a href="#support-requests" data-toggle="tab">Support Requests</a></li>
            <li class=""><a href="#tour-requests" data-toggle="tab">Tour Requests</a></li>
          </ul>
        </div>
        <div class="tab-content">
					<div class="tab-pane tour-content" id="support-requests">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Event</th>
                    <th>Date</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                    <% current_user.requests.where("event_id IS NOT NULL").each do |r|  %>
                    <tr>
                      <td><%= link_to "#{r.event.artist}", event_path(r.event) %></td>
                      <td><%= time_tag r.event.date %></td>
                      <td><%= r.state %></td>
                      <td>
                        <%= link_to raw('Cancel <i class="icon-remove"></i>'), class: "btn", method: :delete, confirm: "Are you sure you want to cancel your order?" %>
                      </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
          </div>
          <div class="tab-pane tour-content" id="tour-requests">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Organizer</th>
                    <th>Sent</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                    <% current_user.requests.where("event_id IS NULL").each do |r|  %>
                    <tr>
                      <td><%= link_to "#{r.organizer.profile.organizer_name}", organizer_profile_path(r.organizer) %></td>
                      <td><%= time_ago_in_words(r.created_at) %> ago </td>
                      <td><%= r.state %></td>
                      <td>
                        <%= link_to raw('Cancel <i class="icon-remove"></i>'), class: "btn", method: :delete, confirm: "Are you sure you want to cancel your order?" %>
                      </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
          </div>
          <div class="tab-pane active tour-content" id="purchases">
						<table class="table table-striped">
	              <thead>
	                <tr>
	                  <th>Organizer</th>
	                  <th>Event</th>
	                  <th>Status</th>
                    <th>Purchased on</th>
	                  <th></th>
	                </tr>
	              </thead>
	              <tbody>
		                <% @orders.each do |order| %>
		                <tr>
		                  <td><%= link_to "#{order.event.profile.user.name}", organizer_profile_path(order.event.profile) %></td>
		                  <td><%= link_to "#{order.event.artist}", event_path(order.event) %></td>
		                  <td><%= order.stripe_event %></td>
                      <td><%= time_tag order.created_at %></td>
		                  <td><%= link_to "view order", order_path(order) %></td>
		                  <% if order.stripe_event == :pending %>
			                  <td><%= link_to raw('Cancel <i class="icon-remove"></i>'), order_path(order), class: "btn", method: :delete, confirm: "Are you sure you want to cancel your order?" %></td>
                      <% else %>
                        <td align="center"></td>
		                  <% end %>
		                </tr>
		                <% end %>
	              </tbody>
                <tfoot>
                  <%= will_paginate @orders %>
                </tfoot>
	          </table>
	        </div>
				</div>
			</div>
		</div>
	</section>

  <div class="modal large hide fade" id="preview-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3></h3>
    </div>
    <div class="modal-body">
      <div id="media-frame"></div>
        <%= current_user.media_html %>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
  </div>

</div>