<div class="container very-narrow well">
  <div class="row-fluid">
    <div class="span12">
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <%= "#{truncate(@event.title, length: 15)} | #{truncate(@event.venue, length: 15)} | #{@event.date.strftime('%d %b')}" %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <% @events.each do |e| %>
          <li><%= link_to "#{e.title} | #{e.venue} | #{e.date.strftime('%d %b')}", organizer_event_tickets_path(e) %></li>
          <% end %>
          <li class="divider"></li>
          <li><%= link_to "Back to Event Admin", organizer_event_path(@event) %></li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="row-fluid">
    <div class="span12">
      <h5><span class="badge large-badge badge-info"><%= @tickets.where('admitted is not null').count %> of <%= @tickets.count %> Admitted </span></h5>
    </div>
  </div><br>
  <div class="row-fluid">
    <div class="span12">
      <%= form_tag organizer_event_tickets_path, method: :get, class: "form-search", autocomplete: :off do %>
          <%= number_field_tag :query, params[:query], class: "input-medium", placeholder: "Enter Ticket Number" %>
          <button type="submit" class="btn">Check</button>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="row-fluid">
    <div class="span12">
      <table class="table table-striped">
        <tbody>
          <% if @ticket.present? %>
            <tr><td>Number <%= @ticket.number %></td></tr>
            <tr><td>Name <%= @ticket.order.name %></td></tr>
            <tr><td>Email <%= @ticket.order.email %></td></tr>
            <tr><td>Card #<%= @ticket.order.last4 %></td></tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>