<%= simple_form_for @order, :validate => true do |f| %>
    <div id="ticket-price" data-url="<%= @event.ticket_price * 100 %>"></div>
    <%= f.input :event_id, as: :hidden, input_html: { value: @event.id } %>
    <%= f.input :quantity, collection: 1..4, input_html: { class: "input-mini"} %>
    <% if !current_user %>
      <%= f.input :email, label: false, placeholder: "  your email address", input_html: { class: "input-medium" }, required: :true %>
    <% else %>
      <%= f.input :email, as: :hidden, input_html: { value: current_user.email } %>
    <% end %>
    <% if current_user && current_user.customer_id %>
      <%= link_to "Buy Now", "#buy-modal", class: "btn btn-success btn-large", data: {toggle: "modal"}, id: "buy-now" %>
        <div class="modal hide fade" id="buy-modal">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Order Total is $<span class="order-total"></span></h3>
          </div>
          <div class="modal-body">
            <p>Pay with card ending #<%= current_user.last4 %>?</p>
            <p>Go to the information tab of <%= link_to "your user account", user_path(current_user) %> if you want to change or add a card.</p>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
            <%= f.submit "Complete Order", html: {class: "btn btn-success"} %>
          </div>
        </div>
    <% else %>
      <div class="stripe-controls" align="center">
        <script src="https://button.stripe.com/v1/button.js" class="stripe-button"
            data-key="<%= ENV['STRIPE_PUBLIC_KEY'] %>" data-amount="">
        </script>
      </div>
    <% end %>
<% end %>

