<%= simple_form_for @event, :html => { class: 'form-horizontal' } do |f| %>

	<fieldset>
		<legend><%= controller.action_name.capitalize %> Event</legend>

		<%= f.input :artist %>
		<%= f.input :venue %>
		<%= f.input :new_location, hint: "#{request.location}" %>
		<%= f.input :date %>
		<%= f.input :doors %>
		<%= f.input :ticket_price %>
		<%= f.input :video, hint: "a youtube, vimeo or link" %>
		<%= f.input :music, hint: "a soundcloud link" %>
		<%= f.input :about %>
		<%= f.input :image, hint: "upload or select images from twitter, facebook and other services" do %>
      <%= f.filepicker_field :image, button_class: "btn btn-primary btn-medium"  %>
    <% end %>

		<div class="form-actions">
				<%= f.submit nil, class: "btn btn-primary" %>
				<%= link_to_if @event, 'Cancel', @event, class: 'btn' %>
		</div>
	</fieldset>

<% end %>