 <%= simple_form_for @order, :validate => true do |f| %>
  <%= f.input :quantity, collection: 1..4, input_html: { class: "input-mini"} %>

  <%= f.input :event_id, as: :hidden, input_html: { value: @event.id } %>
  <%# Optional Email field  %>
  <% unless current_user && current_user.guest? == false %>
    <%= f.input :email, label: false, placeholder: "  your email address", input_html: { class: "input-medium" }, required: :true %>
  <% else %>
    <%= f.input :email, as: :hidden, input_html: { value: current_user.email } %>
  <% end %>

  <%# Optional Buy Now / Stripe button %>
  <% if current_user && current_user.customer_id? %>
    <%= f.submit "Buy Now", html: {class: "btn btn-success btn-large"}, id: "buy-now" %>
  <% else %>
    <div class="stripe-controls" align="center">
      <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
        data-key="<%= ENV['STRIPE_PUBLIC_KEY'] %>" data-description="<%= @event.artist %>"
        data-amount="<%= @event.ticket_price.to_i * 100 %>">
      </script>
    </div>
  <% end %>
<% end %>

