<div class="container">
	<div class="row">
		<div class="span6 search"><%= render 'search' %></div>
		<div class="span2 pull-right">
			<div class="btn-group" id="time-filter">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" >
          <span class="selected-action">Filter by Date</span>
          <span class="caret"></span>
        </a>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="span12">
				<ul class="thumbnails pagination-centered">
					<% @events.each do |event| %>
						<li class="span3">
							<a class="thumbnail" href='/<%= event.id %>'>
								<% if event.image.present?  %>
	                <%= filepicker_image_tag event.image, w: 200, h: 200, fit: 'crop' %>
                <% else %>
	                <%= image_tag "ranelag.gif", height: "200", width: "200" %>
                <% end %>
                <div class="event-index-artists">
									<h3><%= truncate(event.name) %></h3>
								</div>
							</a>
						</li>
					<% end %>
				</ul>
				<%= will_paginate @events %>
		</div>
	</div>
</div>