<div class="container">
	<div class="row-fluid">
		<div class="span6"><%= render 'search' %></div>
		<div class="span5 offset1 big-search">
			<div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          Filter by Date
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
					<li><%= link_to "Anytime ", events_path(query: params[:query]) %></li>
					<li><%= link_to "Today", events_path(query: params[:query], tonight: "true") %></li>
					<li><%= link_to "This Week", events_path(query: params[:query], week_end: "true") %></li>
					<li><%= link_to "This Month", events_path(query: params[:query], month_end: "true") %></li>
				</ul>
			</div>
		</div>
	</div>
	<hr>
	<div class="row-fluid">
		<div class="span12">
				<ul class="thumbnails">
					<% @events.each do |event| %>
						<li class="span4 pagination-centered">
							<a class="thumbnail" href='<%= event_path(event) %>'>
                <%= filepicker_image_tag event.image, width: 200, height: 200, fit: 'crop' if event.image.present? %>
                <div class="event-index-artists">
									<h3><%= event.artist %><br><small>crete boom, porn trauma and more</small></h3>
									<h6><%= event.location.city %> - <%= event.date.strftime('%d/%m/%Y') %></h6>
								</div>
							</a>
						</li>
					<% end %>
				</ul>
				<%= will_paginate @events %>
		</div>
	</div>
</div>