<h1>Events#index</h1>

<div id="cart"><%= render @cart %></div>

<div id="events">
	<ul>
		<% @events.each do |event| %>
		  <li class="title"><%= event.artist %></li>
			<li><%= event.venue %></li>
			<li><%= event.date %></li>
			<li><%= event.ticket_price %></li>
	</ul>
			<%= link_to "Event Details", event_path(event) %>
			<%= button_to "Add to Cart", line_items_path(event_id: event) %>
		<% end %>
</div>

<% admins_only do %>
<%= link_to	"New Event", new_event_path %>
<% end %>

