<div class="container">
	<div class="row">
		<div class="span12">
			<header>
				<h3 class="page-header">Upcoming Events<div class="pull-left"></div></h3>
			</header>
		</div>
	</div>
	<div class="row">
		<div class="span3">
			<aside>
				<div class="well">
					<header>
						<h4>Search Controls</h4>
					</header>
						<ul class="nav nav-list">
							<li class="nav-header" id="index-filter">Date of Event</li>
							<li class=""><%= link_to "Today", request.path + '?tonight=true' %></li>
							<li class=""><%= link_to "This Week", request.path + '?week_end=true' %></li>
							<li class=""><%= link_to "This Month", request.path + '?month_end=true' %></li>
							<li class="divider"></li>
							<li class="nav-header">Location</li>
							<form class="city-select" method="get">
								<%= select_tag "event_city", options_for_select(@options), prompt: "Filter by City"  %>
								<li class="divider"></li>
								<button class="btn btn-block" value="Reset Form">Clear Filters</button>
							</form>
							<li class="divider"></li>
						</ul>
				</div>
			</aside>
		</div>
		<div class="span9">
			<section id="events-index-grid" class="events">
				<ul class="thumbnails">
					<% @events.each do |event| %>
						<li class="span3 pull-left">
							<a class="thumbnail" href="<%= event_path(event) %>">
								<% if event.image? %>
                  <%= filepicker_image_tag event.image, width: 240, height: 140, fit: 'crop' %>
                <% else %>
                  <img src="http://placehold.it/240" alt="">
                <% end %>
							</a>
							<h3><%= event.artist %></h3>
						</li>
					<% end %>
				</ul>
				<%= will_paginate @events %>
			</section>
		</div>
	</div>
</div>