<div class="container">
	<div class="row">
		<div class="span12">
			<header>
				<h3 class="page-header"> Showing <%= request.location.city %><i class="icon-globe"></i> <div class="pull-left"></div></h3>
			</header>
		</div>
	</div>
	<div class="row">
		<div class="span3">
			<aside id="events-searchbar">
				<div class="well">
				<header>
					<h3></h3>
				</header>
				<header>
					<h4>Search Controls</h4>
				</header>
				<div class="">
					<ul class="nav nav-list">
						<li class="nav-header">Date</li>
						<li class=""><a href="">Tonight</a></li>
						<li class=""><a href="">This Week</a></li>
						<li class="active"><a href="">This Month</a></li>
						<li class="divider"></li>
						<li class="nav-header">Location</li>
						<li class="active"><a href="">Near me</a></li>
						<li class=""><a href="">Same Country</a></li>
						<li class=""><a href="">Anywhere</a></li>
						<li class="divider"></li>
					</ul>
				</div>
				</div>
			</aside>
		</div>
		<div class="span9">
			<section id="events-index-grid" class="events">
				<ul class="thumbnails">
					<% @events.each do |event| %>
						<li class="span3">
							<a class="thumbnail" href="#">
								<% if event.image? %>
                  <%= filepicker_image_tag event.image, w: 240, h: 240, fit: 'crop' %>
                <% else %>
                  <img src="http://placehold.it/240" alt="">
                <% end %>
							</a>
							<h3><%= event.artist %></h3>
							<h5><%= event.venue %></h5>
							<h5><%= time_tag event.date %></h5>
							<p>
								<%= button_to "Info and Tickets", event_path(event), method: :get, class: "btn btn-primary" %></a>
							</p>
						</li>
					<% end %>
				</ul>
				<%= will_paginate @events %>
			</section>
		</div>
	</div>
</div>