<nav class="search-bar">
  <div class="row">
    <div class="col-lg-9">
      <form>
        <div class="input-group search">
          <input type="search" name="query" results=5 class="form-control input-lg" value="<%= params[:query] %>">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-default btn-lg" action='<%= events_path(query: params[:query]) %>'>Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>
<section id="search-results" class="">
  <div class="row">
    <% @events.each do |event| %>
      <figure class="col-lg-4 img-responsive">
        <%= link_to event_path(event) do %>
          <%= @presenter.index_image(event) %>
          <figcaption>
            <%= truncate(event.name, length: 15) %> <%= event.date.strftime('%d/%m') %> in <%= event.location %>.
          </figcaption>
        <% end %>
      </figure>
    <% end %>
    <%= will_paginate @events, renderer: BootstrapPagination::Rails %>
  </div>
</section>

