<h1>Events#index</h1>

<div id="cart"><%= render @cart %></div>

<div id="events">
<% @events.each do |event| %>
	<div id="entry">
		<div class="title"><%= event.artist %><div>
		<div class="buttons">
			<%= link_to "Event Details", event %>
		  <%= button_to "Add to Cart", line_items_path(event_id: event) %>
		</div>
	</div>

<% end %>
</div>
<% admins_only do %>
<%= link_to	"New Event", new_event_path %>
<% end %>

