<% if @event.visible?|| @event.event_owner? %>
	<% @event.header %>
	<div class="container">
		<nav id="organizer-tools", class="event">
			<div class="row">
				<div class="span2">
					<%= @event.toggle_visible %>
				</div>
				<div class="span2">
					<%= @event.edit %>
				</div>
			</div> <!-- /row -->
		</nav>
		<section id="event-information" class="event">
			</div>
			<div class="row-fluid">
				<div class="span4 event-poster">
					<hr>
					<h2>
						<small><%= @organizer.name || "no name" %> presents</small><br>
						<%= @event.title %>
					</h2>
					<hr>
					<p><%= @event.image %></p>
					<%= @event.filepicker %>
				</div>
				<hr>
				<div class="span4 event-details">
					<dl class="">
						<dt>Featuring:</dt>
						<dd>The Crete Boom, The Porn Trauma and more!</dd>
						<dt>Date</dt>
						<dd><%= @event.date %></dd>
						<dt>Venue</dt>
						<dd><%= @event.venue %></dd>
						<dt>Begins</dt>
						<dd><%= @event.doors %></dd>
					</dl>
					<hr>
				</div>
				<div class="span4 event-ticket-orders">
					<h1><%= @event.sales %><small> left to target</small></h1>
					<h3><%= @event.price %><small> each</small></h3>
					<%= @event.ticket_form %>
					<hr>
					<h3><%= @event.order_total %> </h3>
				</div>
			</div>
		</section>
		<hr>
		<section id="event-media" class="event">
			<div class="row">
				<div class="span4 about-event"><%= @event.about %></div>
				<div class="span6"><%= @event.video %><div class="flex-video"><%= @event.video_iframe %></div></div>
			<div class="row">
				<div class="span4"><%= @event.location %></div>
				<div class="span6"><%= @event.music %><%= @event.music_iframe %></div>
			</div>
		</section>
	</div> <!-- /container -->
	<!-- Modal -->
	<%= render 'modal' %>
<% else %>
<h1>Sorry Event is not available right now</h1>
<% end %>