<div class="container">
	<header>
		<% title(@event.artist, @event.venue, @event.date) %>
	</header>
	<div class="row">
		<div class="span3">
			<% if user_signed_in?  %>
				<%= link_to "Text Editor", "/editor" + request.path, class: "btn editor", rel: "popover", data: { content: "This will reveal a toolbar allowing you to edit text content on the page. Click the save icon in the toolbar when you're finished.", trigger: "hover", :"original-title" => "Editing Content" }, id: "edit_link" %>
				<%= link_to "Edit Settings", edit_organizer_event_path(@event), class: "btn editor", rel: "popover", data: { content: "Edit the Event details and visibility.", trigger: "hover", :"original-title" => "Event Settings" }, id: "edit_link" %>
			<% end %>
		</div>
		<div class="span2">
		</div>
		<div class="span2">
			<% if user_signed_in?  %>
				<strong>State: <span class="badge"><%= @event.state %></span></strong>
			<% end %>
		</div>
	</div>
	<section id="event-info" class="section-box">
		<div class="row-fluid">
			<div class="label-box">Ticket Info</div>
				<div class="span3">
					<% if @event.image? %>
						<%= filepicker_image_tag @event.image, width: 300, height: 300, fit: 'crop' %>
					<% else %>
						<img src="//quickimage.it/300&text=Artist">
					<% end %>
				</div>
				<div class="span5" align="center">
					<h2>
						<small><%= @organizer.try(:promoter_name) %> presents...</small> <br>
						<div id="artist" data-mercury="full"><%= @event.artist %></div>
					</h2>
					<h4>
						<%= @event.date.strftime("%a, %d %b %Y") %> <br>
						 <br>
						<%= @event.venue %> <br>
					</h4>
					<h1>~</h1>
					<h4>
						Doors  <br>
						at <br>
						<%= @event.date.strftime("%l:%M %p") %>
					</h4>
				</div>
				<div class="span3">
					<div class="section-box centered-box">
						<h1>
							<%= number_to_currency(@event.ticket_price) %> <br>
							<small>per ticket</small>
						</h1>
						<%= render 'add_to_cart_form' %>
					</div>
				</div>
		</div>
	</section>

	<section id="about-artist" class="section-box">
		<div class="label-box">Event Info</div>
		<div class="row">
			<div class="span4">
				<div class="row">
					<div class="span4">
						<h3><%= @organizer.promoter_name %> says...</h3>
						<div id="about" data-mercury="full">
							<% if @event.about? %>
								<%= raw @event.about %>
							<% else %>
								<%= render 'body_holder' %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
			<div class="span6">
				<h3>
					Watch....
					<% if @event.video_html? %>
						<%= @event.video_html  %>
					<% else %>
						<img src="//quickimage.it/630x430&text=Vimeo" class="align_center">
					<% end %>
				</h3>
				<h3>
					Listen....
					<% if @event.music_html? %>
						<%= @event.music_html  %>
					<% else %>
						<img src="//quickimage.it/565x170&text=Soundcloud+playlist" class="align_left">
					<% end %>
				</h3>
			</div>
	</section>
</div>
