<% if @event.visible || @event.event_owner? %>
	<% @event.header %>
	<div class="container">
		<nav id="organizer-tools", class="event">
			<div class="row">
				<div class="span2">
					<%= @event.active %>
				</div>
				<div class="span2">
					<%= @event.edit %>
				</div>
			</div> <!-- /row -->
		</nav>
		<section id="event-information" class="event">
			<div class="row-fluid">
				<div class="span4 event-poster">
					<p><%= @event.image %></p>
					<%= @event.filepicker %>
				</div>
				<div class="span4 event-details">
					<h1><%= @event.title %></h1>
					<hr>
					<dl class="">
						<dt>Organized by:</dt>
						<dd><%= @organizer.name || "no name" %></dd>
						<dt>Date</dt>
						<dd><%= @event.date %></dd>
						<dt>Venue</dt>
						<dd><%= @event.venue %></dd>
						<dt>Begins</dt>
						<dd><%= @event.doors %></dd>
					</dl>
				</div>
				<div class="span4 event-ticket-orders">
					<h1><%= @event.sales %><small> tickets left</small></h1>
					<h3><%= @event.price %><small> each</small></h3>
					<%= render 'form' %>
				</div>
			</div>
		</section>
		<hr>
		<section id="event-media" class="event">
			<div class="row">
				<div class="span4"><p><%= @event.about %></p></div>
				<div class="span6"><%= @event.video %><div class="flex-video"><%= @event.video_iframe %></div></div>
			<div class="row">
				<div class="span4"><%= @event.location %></div>
				<div class="span6"><%= @event.music %><%= @event.music_iframe %></div>
			</div>
		</section>
	</div> <!-- /container -->
	<!-- Modal -->
	<%= render 'modal' %>
<% else %>
Sorry Event is not available right now</h1>
<% end %>