<% content_for :head do %>
  <%= tag :meta, property: "og:site_name", content: "100 Motels" %>
  <%= tag :meta, property: "og:title", content: @event.name %>
  <%= tag :meta, property: "og:url", content: event_url(@event) %>
  <%= tag :meta, property: "og:image", content: @event.image %>
  <%= tag :meta, name: "twitter:card", content: "summary_large_image" %>
  <%= tag :meta, name: "twitter:domain", content: "100motels.com" %>
  <%= tag :meta, name: "twitter:site", content: "@100Motels" %>
  <%= tag :meta, name: "twitter:title", content: @event.name %>
  <%= tag :meta, name: "twitter:description", content: @event.about %>
  <%= tag :meta, name: "twitter:image", content: @event.image %>
<% end %>
<% content_tag :header, title(@event) %>
<section id="event-banner" data-url='<%= @event.image %>'>
	<div class="row">
		<div class="col-lg-12 event-header">
			<div class="container">
				<div class="pull-right"><%= @event.filepicker %></div>
				<h2>
					<small><%= @event.edit_icon %> <%= @organizer.user_name || "organizer's business name" %> presents </small><br>
					<%= @event.edit_icon %> <%= @event.bip_title %><br>
					<small>
						<%= @event.edit_icon %> <%= @event.formatted_date %> |
					</small>
				</h2>
			</div>
		</div>
	</div>
</section>
<section id="event-sharing">
	<div class="row">
		<div class="col-lg-12 event-poster">
			<div class="event-funding">
				<h3 class="visible-desktop">
					<div class="addthis_toolbox">
						<div class="custom_images">
							<a href="http://www.facebook.com/sharer.php?u=<%= event_url(@event) %>"class="" target="_blank"><i class="icon-facebook"></i></a>
                <a href="https://twitter.com/share?text=<%= @event.name %>&url=<%= event_url(@event) %>&via=100Motels" class="" target="_blank"><i class="icon-twitter"></i></a>
                <a href="https://plus.google.com/share?url=<%= event_url(@event) %>" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="" target="_blank"><i class="icon-google-plus"></i></a>
							<a class="addthis_button_more"><i class="icon-share"></i></a>
						</div>
					</div>
				</h3>
				<h4>Sales <%= @event.sales %> tickets</h4>
				<div class="progress">
				  <div class="bar" style="width: 100%;" data-funded="<%= @event.per_cent_funded %>"><%= @event.per_cent_funded %>% funded</div>
				</div>
			</div>
		</div>
		<hr>
	</div>
</section>
<section id="event-tickets">
	<div class="row">
		<div class="col-lg-12" data-price='<%= @event.ticket_price %>' id="tickets">
			<div class="ticket_price">
				<h3><%= @event.edit_icon %> <%= @event.price %><small> each</small></h3>
				<%= @event.ticket_form %>
				<h3><%= @event.order_total %></h3>
			</div>
		</div >
	</div>
</section>
<section id="event-media" class="event">
	<div class="row">
		<div class="col-lg-12">
			<div class="about about-event"><%= @event.edit_icon %> <%= @event.about_section %></div>
		</div>
	</div>
</section>


<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-513ba15373992907">
	var addthis_share = {
     url_transforms : {
          shorten: {
               twitter: 'bitly'
          }
     },
     shorteners : {
          bitly : {}
     }
	}
	var addthis_config = {
     data_track_clickback: false
	}
</script>