<div class="container">
	<header>
		<% title(@event.artist, "Events") %>
	</header>

	<section id="event-info" class="section-box">
		<div class="row">
			<div class="label-box">Ticket Info</div>
				<div class="span3">
					<dl>
						<dt>Artist: </dt>
						<dd><%= @event.artist %></dd>
						<dt>Venue: </dt>
						<dd><%= @event.venue %></dd>
						<dt>Date: </dt>
						<dd><%= @event.date %></dd>
						<dt>Doors: </dt>
						<dd><%= @event.doors %></dd>
					</dl>
				</div>
				<div class="span3">
					<dl>
						<dt>Venue Capacity: </dt>
						<dd>250</dd>
						<dt>Sales Target:</dt>
						<dd>35/100</dd>
						<dt>Time left to go:</dt>
						<dd>3 Weeks</dd>
					</dl>
				</div>
				<div class="span3 offset1">
					<div class="well well-small">
						<h1>
							<%= number_to_currency(@event.ticket_price) %>
							<small>per ticket</small>
						</h1>
					</div>
				</div>
		</div>
	</section>

	<section class="section-box">
		<div class="row">
			<div class="span12">Hell world</div>
			<div class="label-box">Your Promoter...</div>
		</div>
	</section>

	<section>
	</section>
</div>
