<% if @event.visible || @event.event_owner? %>
	<% @event.header %>
	<div class="container">
		<nav id="organizer-tools", class="event">
			<div class="row">
				<div class="span2">
					<%= @event.active %>
				</div>
				<div class="span2">
					<%= @event.edit %>
				</div>
			</div> <!-- /row -->
		</nav>
		<section id="event-information" class="event">
			<div class="row-fluid">
				<div class="span4 event-poster">
					<%= @event.image %>
					<%= @event.filepicker %>
				</div>
				<div class="span4 event-details">
					<%= @organizer.name %>
					<%= @event.title %>
					<%= @event.date %>
					<%= @event.venue %>
					<%= @event.doors %>
					<%= @event.sales %>
					<%= @event.price %>
				</div>
				<div class="span4 event-ticket-orders">
					<div class="">
						<%= render 'form' %>
					</div>
				</div>
			</div>
		</section>
		<section id="event-media" class="event">
			<div class="row">
				<div class="span4">
	        <h3>About...</h3><%= @event.about %>
	  			<h3>Location...</h3><%= @event.location %>
				</div>
				<div class="span6">
					Watch....<%= @event.video %><div class="flex-video"><%= @event.video_iframe %></div>
					Listen....<%= @event.music %><%= @event.music_iframe %>
				</div>
		</section>

	</div> <!-- /container -->
	<!-- Modal -->
	<%= render 'modal' %>
<% else %>
Sorry Event is not available right now</h1>
<% end %>