<div class="container">
	<header>
		<% title(@event.artist, "Events") %>
	</header>
	<div>
		<% if user_signed_in? %>
			<%= link_to "Edit Event", edit_promoter_event_path(@event) %>
			<%= current_user.id %>,
			<%= @event.promoter_id %>
		<% end %>
	</div>
	<section id="event-info" class="section-box">
		<div class="row">
			<div class="label-box">Ticket Info</div>
				<div class="span3">
					<% if @event.image %>
						<%= filepicker_image_tag @event.image, w: 300, h: 300, fit: 'clip' %>
					<% else %>
						<img src="//placehold.it/300&text=Artist">
					<% end %>
				</div>
				<div class="span5">
					<div class="row">
						<div class="span4 pull-right centered-box">
							<h2>
								<small>The promoter presents...</small> <br>
								<%= @event.artist %>
							</h2>
						</div>
					</div>
					<div class="row">
						<div class="span2 pull-right">
							<dl>
								<dt>Venue: </dt>
								<dd><%= @event.venue %></dd>
								<dt>Date: </dt>
								<dd><%= time_tag @event.date %></dd>
								<dt>Doors: </dt>
								<dd><%= @event.doors.strftime("%l:%M %p") %></dd>
							</dl>
						</div>
						<div class="span2 pull-right">
							<dl>
								<dt>Venue Capacity: </dt>
								<dd><%= @event.venue_capacity %></dd>
								<dt>Sales / Target:</dt>
								<dd><%= @event.line_items.to_a.sum { |item| item.quantity} %> / <%= @event.target %></dd>
								<dt>Time left to go:</dt>
								<dd><%= distance_of_time_in_words(Time.now, @event.date, true) %></dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="span3">
					<div id="cart-box" class="section-box centered-box">
						<h1>
							<%= number_to_currency(@event.ticket_price) %> <br>
							<small>per ticket</small>
						</h1>
						<%= render 'add_to_cart_form' %>
					</div>
				</div>
		</div>
	</section>

	<section id ="your-promoter" class="section-box">
		<div class="row">
			<div class="span12">
				<div class="label-box">Your Promoter</div>
					<div class="row">
						<div class="span12">
							<img src="//placehold.it/100" class="align_left">
							<p class="lead">
								Lorem ipsum <%= User.find_by_id(@event.promoter_id).email %>...
							</p>
							<p>
								Consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat.
							</p>
							<button>Full Profile</button>
						</div>
					</div>
					<div class="row">
						<div class="span12">
						</div>
					</div>
			</div>
		</div>
	</section>

	<section id="about-artist" class="section-box">
		<div class="label-box">About the Artist</div>
		<div class="row">
			<div class="span4">
				<p class="lead">
					A word from you promoter ....
				</p>
				<p>
					<% if @event.about %>
						<%= @event.about  %>
					<% else %>
						<%= render 'body_holder' %>
					<% end %>
				</p>
				<p class="lead">Grazia, Marco!</p>
			</div>
			<div class="span6">
				<h3>
					Watch....
					<% if @event.video_html %>
						<%= @event.video_html  %>
					<% else %>
						<img src="//placehold.it/630x430&text=Vimeo" class="align_center">
					<% end %>
				</h3>
				<h3>
					Listen....
					<% if @event.music_html %>
						<%= @event.music_html  %>
					<% else %>
						<img src="//placehold.it/565x170&text=Soundcloud+playlist" class="align_left">
					<% end %>

				</h3>
					<h3>Help out...</h3>
				<div class="well">
					<div class="btn-toolbar">
					  <div class="btn-group centered-box">
					    <a class="btn" href="#"><i class="icon-share"></i></a>
					    <a class="btn" href="#"><i class=" icon-thumbs-up"></i></a>
					    <a class="btn" href="#"><i class=" icon-thumbs-down"></i></a>
					    <a class="btn" href="#"><i class=" icon-share-alt"></i></a>
					  </div>
					</div>
				</div>
			</div>
	</section>
</div>
