<div class="container">
	<header>
		<% title(@event.artist, "Events") %>
	</header>
	<div>
		<% if user_signed_in? && current_user == @promoter %>
			<%= link_to "Edit Your Event", "/editor" + request.path, id: "edit_link", data: {save_url: mercury_update_event_path(@event) }, class: "btn" %>
		<% end %>
	</div>
	<section id="event-info" class="section-box">
		<div class="row">
			<div class="label-box">Ticket Info</div>
				<div class="span3">
					<% if @event.image? %>
						<%= filepicker_image_tag @event.image, w: 300, h: 300, fit: 'crop' %>
					<% else %>
						<img src="//quickimage.it/300&text=Artist">
					<% end %>
				</div>
				<div class="span5">
					<div class="row">
						<div class="span3 offset1" align="center">
							<h2>
								<small><%= @promoter.name %> presents...</small> <br>
								<%= @event.artist %>
							</h2>
						</div>
					</div>
					<div class="row">
						<div class="span2 pull-right">
							<dl>
								<dt>Venue: </dt>
								<dd><%= @event.venue %></dd>
								<dt>Date: </dt>
								<dd><%= time_tag @event.date %></dd>
								<dt>Doors: </dt>
								<dd><%= @event.doors.strftime("%l:%M %p") %></dd>
							</dl>
						</div>
						<div class="span2 pull-right">
							<dl>
								<dt>Venue Capacity: </dt>
								<dd><%= @event.venue_capacity %></dd>
								<dt>Sales / Target:</dt>
								<dd><%= @event.orders.to_a.sum { |item| item.quantity} %> / <%= @event.target %></dd>
								<dt>Time left to go:</dt>
								<dd><%= distance_of_time_in_words(Time.now, @event.date, true) %></dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="span3">
					<div id="cart-box" class="section-box centered-box">
						<h1>
							<%= number_to_currency(@event.ticket_price) %> <br>
							<small>per ticket</small>
						</h1>
						<%= render 'add_to_cart_form' %>
					</div>
				</div>
		</div>
	</section>

	<section id ="your-promoter" class="section-box">
		<div class="row">
			<div class="span12">
				<div class="label-box">Your Promoter</div>
					<div class="row">
						<div class="span2">
								<% if @promoter.avatar? %>
									<%= filepicker_image_tag @promoter.avatar, w: 100, h: 100, fit: 'crop' %>
								<% else %>
									<img src="//quickimage.it/100">
								<% end %>
						</div>
						<div class="span9">
							<p class="lead">
								Lorem ipsum <%= @promoter.name %>...
							</p>
							<p>
								Consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat.
							</p>
								<%= link_to "Full Profile", user_path(@promoter), class: "btn btn-medium" %>
						</div>
					</div>
					<div class="row">
						<div class="span12">
						</div>
					</div>
			</div>
		</div>
	</section>

	<section id="about-artist" class="section-box">
		<div class="label-box">About the Artists</div>
		<div class="row">
			<div class="span4">
				<div id="event-about" contenteditable="true" data-mercury="full">
					<% if @event.about? %>
						<%= raw @event.about  %>
					<% else %>
						<%= render 'body_holder' %>
					<% end %>
				</div>
			</div>
			<div class="span6">
				<h3>
					Watch....
					<% if @event.video_html? %>
						<%= @event.video_html  %>
					<% else %>
						<img src="//quickimage.it/630x430&text=Vimeo" class="align_center">
					<% end %>
				</h3>
				<h3>
					Listen....
					<% if @event.music_html? %>
						<%= @event.music_html  %>
					<% else %>
						<img src="//quickimage.it/565x170&text=Soundcloud+playlist" class="align_left">
					<% end %>

				</h3>
					<h3>Help the show get funded...</h3>
				<div class="well">
						<span class='st_sharethis_large' displayText='ShareThis'></span>
						<span class='st_facebook_large' displayText='Facebook'></span>
						<span class='st_pinterest_large' displayText='Pinterest'></span>
						<span class='st_wordpress_large' displayText='WordPress'></span>
						<span class='st_stumbleupon_large' displayText='StumbleUpon'></span>
						<span class='st_tumblr_large' displayText='Tumblr'></span>
						<span class='st_reddit_large' displayText='Reddit'></span>
						<span class='st_myspace_large' displayText='MySpace'></span>
						<span class='st_identi_large' displayText='identi.ca'></span>
						<span class='st_googleplus_large' displayText='Google +'></span>
						<span class='st_twitter_large' displayText='Tweet'></span>
						<span class='st_email_large' displayText='Email'></span>
				</div>
			</div>
	</section>
</div>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "8922bdf2-4f99-4c8e-af44-1b1791ab0dcf"});</script>