<% content_for :head do %>
  <%= tag :meta, property: "og:site_name", content: "100 Motels" %>
  <%= tag :meta, property: "og:title", content: @event.name %>
  <%= tag :meta, property: "og:url", content: event_url(@event) %>
  <%= tag :meta, property: "og:image", content: @event.image %>
  <%= tag :meta, name: "twitter:card", content: "summary_large_image" %>
  <%= tag :meta, name: "twitter:domain", content: "100motels.com" %>
  <%= tag :meta, name: "twitter:site", content: "@100Motels" %>
  <%= tag :meta, name: "twitter:title", content: @event.name %>
  <%= tag :meta, name: "twitter:description", content: @event.about %>
  <%= tag :meta, name: "twitter:image", content: @event.image %>
<% end %>
<% content_tag :header, title(@event) %>
<section id="event-banner" data-url='<%= @event.image %>'>
	<div class="row">
		<div class="col-lg-12 event-header">
			<div class="container">
				<div class="pull-right"><%= @event.filepicker %></div>
				<h2>
					<%= @organizer.user_name || "organizer's business name" %> presents<br>
					<%= @event.bip_title %><br>
					<%= @event.formatted_date %> | <%= @event.location %>
				</h2>
			</div>
		</div>
	</div>
</section>
<section id="event-information">
	<div class="progress">
	  <div class="progress-bar" role="progressbar" style="width: 100%;" data-funded="<%= @event.per_cent_funded %>">
		  <%= @event.per_cent_funded %>% funded
	  </div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="visible-desktop">
					<div class="addthis_toolbox">
						<div class="custom_images">
							<ul class="list-inline">
								<li><a href="http://www.facebook.com/sharer.php?u=<%= event_url(@event) %>"class="" target="_blank"><i class="icon-facebook"></i></a></li>
		              <li><a href="https://twitter.com/share?text=<%= @event.name %>&url=<%= event_url(@event) %>&via=100Motels" class="" target="_blank"><i class="icon-twitter"></i></a></li>
		              <li><a href="https://plus.google.com/share?url=<%= event_url(@event) %>" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="" target="_blank"><i class="icon-google-plus"></i></a></li>
								<li><a class="addthis_button_more"><i class="icon-share"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<form class="form-inline" role="form">
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputEmail2">Email address</label>
				    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
				  </div>
				  <div class="form-group">
				    <select class="form-control" id="order_quantity">
				      <option value="1">1 ticket </option>
				      <option value="2">2 tickets</option>
				      <option value="3">3 tickets</option>
				      <option value="4">4 tickets</option>
				      <option value="5">5 tickets</option>
				    </select>
				  </div>
				  <button id="checkout" type="button" class="btn btn-primary">Purchase</button>
				</form>
			</div>
			<div class="col-lg-2"><div class="price" data-price='<%= @event.ticket_price %>'><%= @event.order_total %></div=></div>
		</div>
	</div>
</section>
<hr>
<section id="event-media" class="event">
	<div class="row">
		<div class="col-lg-12">
			<div class="container">
				<div class="event-media-html"><%= @event.about_section %></div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-513ba15373992907">
	var addthis_share = {
     url_transforms : {
          shorten: {
               twitter: 'bitly'
          }
     },
     shorteners : {
          bitly : {}
     }
	}
	var addthis_config = {
     data_track_clickback: false
	}
</script>