<% content_for :title do %>
  <%= @event.name + " in " + @event.location + ", " + @event.date.strftime("%d/%m/%Y") %>
<% end %>
<% content_for :head do %>
  <%= tag :meta, property: "og:site_name", content: "100 Motels" %>
  <%= tag :meta, property: "og:title", content: @event.name %>
  <%= tag :meta, property: "og:url", content: event_url(@event) %>
  <%= tag :meta, property: "og:image", content: @event.image %>
  <%= tag :meta, name: "twitter:card", content: "summary_large_image" %>
  <%= tag :meta, name: "twitter:domain", content: "100motels.com" %>
  <%= tag :meta, name: "twitter:site", content: "@100Motels" %>
  <%= tag :meta, name: "twitter:title", content: "100 Motels presents..." %>
  <%= tag :meta, name: "twitter:description", content: @event.name + " in " + @event.location + ", " + @event.date.strftime("%d/%m/%Y") %>
  <%= tag :meta, name: "twitter:image", content: @event.image %>
<% end %>
<section id="event-banner" data-url='<%= @presenter.image(@event) %>'>
	<div class="pull-right"><%= @presenter.filepicker(@event) %></div>
  <div class="vert-text event-header">
		<h1>
			<%= @event.name %>
		</h1>
	</div>
</section>
<section id="event-information">
	<div class="">
		<div class="row">
      <div class="col-lg-3">
        <div class="progress">
          <div class="progress-bar progress-bar-success sold" role="progressbar" data-funded="<%= @presenter.per_cent_sold(@event) %>">
            <span><%= @presenter.tickets_sold(@event) %> sold</span>
          </div>
        </div>
      </div>
			<div class="col-lg-6 text-center">
				<div class="visible-desktop">
					<div class="addthis_toolbox">
						<div class="custom_images">
							<ul class="list-inline">
                <li><a href=""><i class="fa fa-map-marker"></i> Rudy's Dublin</a></li>
                <li><i class="fa fa-calendar"></i> Wed, Nov 15 @ 8pm</li>
								<li><a class="addthis_button_more"><i class="fa fa-share"></i></a></li>
              </ul>
						</div>
					</div>
				</div>
			</div>
      <div class="col-lg-3">
        <%= render 'orders/form' %>
    	</div>
    </div>
	</div>
</section>
<hr>
<section id="event-media" class="event">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<%= @presenter.edit_button(@event) %><button id="cancel-button" class="btn hideme">Cancel</button>
				<div class="event-media-html"><%= @presenter.about_section(@event) %></div>
			</div>
		</div>
	</div>
</section>