<%= form_for @order, method: :post, html: { class: 'form-inline', role: "form"} do |f| %>
  <div class="form-group">
    <label>
      <div class="price" data-price='<%= @event.ticket_price %>'><%= number_to_currency raw('<span class="order-total"></span>') %>
        </div>
    </label>
  </div>
  <div class="form-group">
    <select class="form-control" id="order_quantity" name="order[quantity]">
      <option value="1">1 ticket </option>
      <option value="2">2 tickets</option>
      <option value="3">3 tickets</option>
      <option value="4">4 tickets</option>
      <option value="5">5 tickets</option>
      <option value="6">6 tickets</option>
      <option value="7">7 tickets</option>
      <option value="8">8 tickets</option>
    </select>
  </div>
  <%= f.hidden_field :event_id, value: @event.id %>
  <%= f.submit "Purchase", class: 'btn btn-primary', id: "checkout" %>
<% end %>