<table class="table">
	<thead>
		<tr>
			<th>item</th>
			<th>quantity</th>
			<th>price</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="2"><strong>Total Price</strong></td>
			<td>$11.00</td>
		</tr>
	</tfoot>
	<tbody>
		<% @order.line_items.each do |l| %>
		<tr>
			<td><%= l.event.artist %>, <%= l.event.venue %>, <%= time_tag l.event.date %></td>
			<td><%= l.quantity %></td>
			<td><%= number_to_currency(l.line_total_price) %></td>
		</tr>
		<% end %>
	</tbody>
</table>
