<table class="table">
	<thead>
		<tr>
			<th>item</th>
			<th>quantity</th>
			<th>price</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="2"><strong>Total Price</strong></td>
			<td>$11.00</td>
		</tr>
	</tfoot>
	<tbody>
		<tr>
			<td><%= @event.artist %>, <%= @event.venue %>, <%= time_tag @event.date %></td>
			<td><%= @order.quantity %></td>
			<td><%= number_to_currency(@event.ticket_price) %></td>
		</tr>
	</tbody>
</table>
