<div class="container">
	<div class="row">
		<div class="span12">
			<div class="well">
				<header>
					<h2>Thanks <%= @order.name %>!... <br>
						<small>Your order <%= number_to_currency(@order.total) %> was successful.</small>
					</h2>
					<p class="lead">
						An email has been sent to <%= @order.email %> with your ticket. </p>
					</p>
				</header>
				<% unless user_signed_in? %>
						<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: ""}) do |f| %>
						  <%= f.error_notification %>
						  	<%= f.input :guest_id, as: :hidden, input_html: { value: @guest.id } %>
						    <%= f.input :email, as: :hidden, input_html: { value: @order.email } %>
					      <%= f.input :password, wrapper: :prepend, required: true, label: false, html: { class: ""} do %>
						      <%= f.input_field :password, placeholder: "enter a password" %>
						      	<%= f.button :submit, "Save my account" %>
				      	<% end %>
						<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>