<div class="container">
	<div class="row">
		<div class="span12">
			<div class="well">
				<header>
					<h2>Thanks <%= @order.email %>!... <br><small>Your order <%= number_to_currency(@order.total) %> was successful.</small></h2>
					<p class="lead">An email has been sent to <%= @order.email %> with your ticket. </p>
				</header>
				<%= link_to "Back", event_path(@order.event), class: "btn btn-primary" %>
				<%= link_to "Save your Account", signup_path if current_user.guest?  %>
			</div>
		</div>
	</div>
</div>