<div class="container">
			<div class="section-box" id="opener">
				<div class="navbar">
					<div class="jumbotron">
						<h1 class="welcome-banner">
						 100 Motels<br>
						 <small>Funding, Ticketing, Organizing, Live Music.</small>
						</h1>
					</div>
				</div> <!-- /navbar -->
				<div class="row-fluid headlines">
					<div class="span4">
	          <h2>Funding</h2>
	          <p>Fund a live show without incurring fees or charges. When you're happy with the numbers get your money.</p><br>
	          <p align="center"><%= link_to "Learn More »", info_path(anchor: "money"), class: "btn" %></p>
	        </div>
					<div class="span4">
	          <h2>Ticketing</h2>
	          <p>A modern ticketing platform with one-click purchases, QR coded tickets and a mobile app 'Doorman' for keeping track of things on the night.</p> <br>
	          <p align="center"><%= link_to "Learn More »", info_path(anchor: "organizing"), class: "btn" %></p>
	        </div>
					<div class="span4">
	          <h2>Organizing</h2>
	          <p>Organize a live show for the artist or artists of your choosing. Find an organizer to put on a show for you or play as support for other artists. </p><br>
	          <p align="center"><%= link_to "Learn More »", info_path(anchor: "how"), class: "btn" %></p>
	        </div>
				</div> <!-- /headlines -->
			</div>
			<!-- THE THREE MAIN SECTION -->
		<div id="content">
			<section id="latest-events">
				<header class="page-header">
					<h3>
						Latest Shows <%= link_to "View All in #{@location} »", events_path, class: "pull-right btn btn-large" %>
					</h3>
				</header>
				<div id="events-carousel" class="carousel slide" data-interval="false">
					<div class="carousel-inner">
						<% @events.each_slice(3) do |event| %>
						<div class="item">
								<ul class="thumbnails">
									<li class="span4">
										<a class="thumbnail" href="<%= event_path(event[0]) %>">
											<% if event[0].image? %>
												<%= filepicker_image_tag event[0].image, w: 360, h: 240, fit: 'crop' %>
											<% else %>
												<img src="http://quickimage.it/360x240&text=ArtistPic" alt="">
											<% end %>
											<div class="caption">
												<h4 class="title">
													<%= event[0].artist %>
												</h4>
												<h4><em><%= time_tag event[0].date %> at <%= event[0].venue %></em></h4>
												<%= button_to "Info & Tickets", event_path(event[0]), method: :get, class: "btn btn-success", id: event[0].artist %>
											</div>
										</a>
									</li>
									<li class="span4">
										<% if event[1] %>
											<a class="thumbnail" href="<%= event_path(event[1]) %>">
												<% if event[1].image? %>
													<%= filepicker_image_tag event[1].image, w: 360, h: 240, fit: 'crop' %>
												<% else %>
													<img src="http://quickimage.it/360x240&text=ArtistPic" alt="">
												<% end %>
												<div class="caption">
													<h4 class="title">
														<%= event[1].artist %>
													</h4>
													<h4><em><%= time_tag event[1].date %> at <%= event[1].venue %></em></h4>
													<%= button_to "Info & Tickets", event_path(event[1]), method: :get, class: "btn btn-success", id: event[1].artist %>
												</div>
											</a>
										<% else %>

										<% end %>
									</li>
									<li class="span4">
										<% if event[2] %>
											<a class="thumbnail" href="<%= event_path(event[2]) %>">
												<% if event[2].image? %>
													<%= filepicker_image_tag event[2].image, w: 360, h: 240, fit: 'crop' %>
												<% else %>
													<img src="http://quickimage.it/360x240&text=ArtistPic" alt="">
												<% end %>
												<div class="caption">
													<h4 class="title">
														<%= event[2].artist %>
													</h4>
													<h4><em><%= time_tag event[2].date %> at <%= event[2].venue %></em></h4>
													<%= button_to "Info & Tickets", event_path(event[2]), method: :get, class: "btn btn-success", id: event[2].artist %>
												</div>
											</a>
										<% else %>

										<% end %>
									</li>
								</ul>
						</div>
						<% end %>
					</div>
					<a class="left carousel-control" href="#events-carousel" data-slide="prev">‹</a>
					<a class="right carousel-control" href="#events-carousel" data-slide="next" id="next-event">›</a>
				</div>
				<hr>
			</section>

			<section id="new-promoters">
				<header>
					<h3 class="page-header">Newest Organizers <%= link_to "View All in #{@location} »", profiles_path, class: "pull-right btn btn-large" %></h3>
				</header>
				<div id="promoters-carousel" class="carousel slide" data-interval="false">
					<div id="promoters" class="carousel-inner">
						<% @profiles.each_slice(4) do |profile| %>
						<div class="item">
								<ul class="thumbnails">
									<li class="span3">
										<a class="thumbnail" href="<%= profile_path(profile[0]) %>">
											<% if profile[0] %>
												<% if profile[0].image? %>
				                  <%= filepicker_image_tag profile[0].image, w: 360, h: 360, fit: 'crop' %>
				                <% else %>
				                  <img src="http://placehold.it/360x360" alt="">
				                <% end %>
													<div class="caption">
														<h3 class="title"><%= profile[0].promoter_name || profile[0].user.name %></h3>
														<!-- <h4>location</h4> -->
														<%= button_to "Full Profile", profile_path(profile[0]), method: :get, class: "btn btn-primary" %>
												</div>
											<% end %>
										</a>
									</li>
									<li class="span3">
										<a class="thumbnail" href="<%= profile_path(profile[1]) %>">
											<% if profile[1] %>
												<% if profile[1].image? %>
				                  <%= filepicker_image_tag profile[1].image, w: 360, h: 360, fit: 'crop' %>
				                <% else %>
				                  <img src="http://placehold.it/360x360" alt="">
				                <% end %>
												<div class="caption">
													<h3 class="title"><%= profile[1].promoter_name || profile[1].user.name %></h3>
													<!-- <h4>location</h4> -->
													<%= button_to "Full Profile", profile_path(profile[1]), method: :get, class: "btn btn-primary" %>
												</div>
											<% end %>
										</a>
									</li>
									<li class="span3">
										<a class="thumbnail" href="<%= profile_path(profile[2]) %>">
											<% if profile[2] %>
												<% if profile[2].image? %>
				                  <%= filepicker_image_tag profile[2].image, w: 360, h: 360, fit: 'crop' %>
				                <% else %>
				                  <img src="http://placehold.it/360x360" alt="">
				                <% end %>
												<div class="caption">
													<h3 class="title"><%= profile[2].promoter_name || profile[2].user.name %></h3>
													<!-- <h4>location</h4> -->
													<%= button_to "Full Profile", profile_path(profile[2]), method: :get, class: "btn btn-primary" %>
												</div>
											<% end %>
										</a>
									</li>
									<li class="span3">
										<a class="thumbnail" href="<%= profile_path(profile[3]) %>">
											<% if profile[3] %>
												<% if profile[3].image? %>
				                  <%= filepicker_image_tag profile[3].image, w: 360, h: 360, fit: 'crop' %>
				                <% else %>
				                  <img src="http://placehold.it/360x360" alt="">
				                <% end %>
												<div class="caption">
													<h3 class="title"><%= profile[3].promoter_name || profile[3].user.name %></h3>
													<!-- <h4>location</h4> -->
													<%= button_to "Full Profile", profile_path(profile[3]), method: :get, class: "btn btn-primary" %>
												</div>
											<% end %>
										</a>
									</li>
								</ul>
						</div>
						<% end %>
					</div>
					<a class="left carousel-control" href="#promoters-carousel" data-slide="prev">‹</a>
					<a class="right carousel-control" href="#promoters-carousel" data-slide="next">›</a>
				</div>
				<hr>
			</section>

		</div>
		<!-- MODAL FOR ORGANIZER -->
</div> <!-- /main container -->




