	<div class="container">


			<div id="calls-nav" class="navbar">
				<h3> What do you want to do man?</h3>
  			<div class="navbar-inner">
					<ul class="nav">
						<li class="divider-vertical"></li>
						<li class="divider-vertical"></li>
						<li class="active">
	    				<a href="#active-promoters">I want to take my commerical-free Music on Tour</a>
	  				</li>
	  				<li class="divider-vertical"></li>
	  				<li><a href="#promoter-apply">I want to help Artists fulfill their vision</a></li>
	  				<li class="divider-vertical"></li>
	  				<li><a href="#latest-shows">I want to go to a real underground show, no bullshit</a></li>
	  				<li class="divider-vertical"></li>
					</ul>
				</div>
			</div>

		<section id = "latest-events">
			<header>
				<h3>Latest Shows</h3>
			</header>

			<div id="myCarousel" class="carousel slide">
				<div class="carousel-inner">
					<div class="item">
						<img src="http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-01.jpg" alt="">
						<div class="carousel-caption">
							<h4>First Thumbnail label</h4>
							<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
						</div>
					</div>
					<div class="item">
						<img src="http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-02.jpg" alt="">
						<div class="carousel-caption">
							<h4>Second Thumbnail label</h4>
							<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
						</div>
					</div>
					<div class="item active">
						<img src="http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-03.jpg" alt="">
						<div class="carousel-caption">
							<h4>Third Thumbnail label</h4>
							<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
						</div>
					</div>
				</div>
				<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
				<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
			</div>

			<div id="events">
				<table summary="This is a listing of the latest events">
					<thead>
						<tr>
							<th scope="col">Artist</th>
							<th scope="col">Venue</th>
							<th scope="col">Date</th>
							<th scope="col">Price</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td></td>
						</tr>
					</tfoot>
					<tbody>
					<% @events.each do |event| %>
						<tr>
						  <td class="title"><%= event.artist %></td>
							<td><%= event.venue %></td>
							<td><%= event.date %></td>
							<td><%= event.ticket_price %></td>
							<td><%= link_to "Show Details", event_path(event) %></td>
							<td><%= button_to "Add to Cart", line_items_path(event_id: event) %></td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</section>

		<section id="active-promoters">
			<header>
				<h3>Most Active Promoters</h3>
			</header>
				<table summary="Listing of top rated promoters">
					<thead>
						<tr>
							<th scope="col">Pic</th>
							<th scope="col">name</th>
							<th scope="col">rating</th>
						</tr>
					</thead>
					<tbody>
					<% @users.each do |user| %>
						<tr>
							<td class="placehold-image"><img src="//placehold.it/45x45"></td>
					  	<td class="email"><%= user.email %></td>
					  <td>5/5</td>
						</tr>
						<tr>
							<td colspan="3">
								<%= link_to "Promoter Profile", admin_user_path(user), class: "linky-hover" %>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</section>

			<section id="promoter-apply">
				<div class="well well-large">
					<h3>Looking to help?...Apply to become a Promoter</h3>
					<button class="btn.large">Sign up!</button>
				</div>
			</section>
	</div>




