	<div class="container">

			<div id="calls-nav" class="navbar">
				<h3> You're here so what now?</h3>
  			<div class="navbar-inner">
					<ul class="nav">
						<li class="divider-vertical"></li>
						<li class="divider-vertical"></li>
						<li class="active">
	    				<a href="#active-promoters">I want to tour my original, not-commerical Music</a>
	  				</li>
	  				<li class="divider-vertical"></li>
	  				<li><a href="#promoter-apply">I'd like to organize a show for an Artist</a></li>
	  				<li class="divider-vertical"></li>
	  				<li><a href="#latest-shows">I just want to buy a ticket</a></li>
	  				<li class="divider-vertical"></li>
					</ul>
				</div>
			</div>

		<section id = "latest-events">
			<header>
				<h3>Latest Shows</h3>
			</header>
			<div id="events-carousel" class="carousel slide">
				<div id="events" class="carousel-inner">
					<div class="item active">
							<ul class="thumbnails">
								<% @events.each do |event| %>
								<li class="span4">
									<a class="thumbnail" href="#">
										<img src="http://placehold.it/360x240" alt="">
									</a>
									<h3 class="title"> <%= event.artist %></h3>
									<p>
										<%= event.venue %>
										<%= event.date %>
										<%= event.ticket_price %>
										<%= link_to "Show Details", event_path(event) %>
										<%= button_to "Add to Cart", line_items_path(event_id: event) %>
									</p>
								</li>
								<% end %>
							</ul>
						<div class="carousel-caption">
							<h4>Just Curious about 100 Motels?</h4>
							<p>Here's some artists that are playing in your city soon. Have a listen and when you find something you like do them a favour and catch their show</p>
						</div>
					</div>
					<div class="item">
							<ul class="thumbnails">
								<% @events.each do |event| %>
								<li class="span4">
									<a class="thumbnail" href="#">
										<img src="http://placehold.it/360x240" alt="">
									</a>
									<h3 class="title"> <%= event.artist %></h3>
									<p>
										<%= event.venue %>
										<%= event.date %>
										<%= event.ticket_price %>
										<%= link_to "Show Details", event_path(event) %>
										<%= button_to "Add to Cart", line_items_path(event_id: event) %>
									</p>
								</li>
								<% end %>
							</ul>
					</div>
				</div>
				<a class="left carousel-control" href="#events-carousel" data-slide="prev">‹</a>
				<a class="right carousel-control" href="#events-carousel" data-slide="next">›</a>
			</div>
		</section>

		<section id="active-promoters">
			<header>
				<h3>Most Active Promoters</h3>
			</header>
			<div id="promoters-carousel" class="carousel slide">
				<div id="promoters" class="carousel-inner">
					<div class="item active">
							<ul class="thumbnails">
								<% @users.each do |user| %>
								<li class="span3">
									<a class="thumbnail" href="#">
										<img src="http://placehold.it/360x240" alt="">
									</a>
									<h3 class="title"> Promoter Name</h3>
									<p>
										<%= button_to "Full Profile", user_path(user), method: :get %>
									</p>
								</li>
								<% end %>
							</ul>
						<div class="carousel-caption">
							<h4>Our Volunteers...making it happen</h4>
							<p>All of our promoter have a proven track record in supporting independent music</p>
						</div>
					</div>
					<div class="item">
							<ul class="thumbnails">
								<% @users.each do |user| %>
								<li class="span3">
									<a class="thumbnail" href="#">
										<img src="http://placehold.it/360x240" alt="">
									</a>
									<h3 class="title"> Promoter Name</h3>
									<p>
										<%= button_to "Full Profile", user_path(user), method: :get %>
									</p>
								</li>
								<% end %>
							</ul>
					</div>
				</div>
				<a class="left carousel-control" href="#promoters-carousel" data-slide="prev">‹</a>
				<a class="right carousel-control" href="#promoters-carousel" data-slide="next">›</a>
			</div>


			<section id="promoter-apply">
				<div class="well well-large">
					<h3>Looking to help?...Apply to become a Promoter</h3>
					<button class="btn.large">Sign up!</button>
				</div>
			</section>
	</div>




