	<div class="container">

			<div class="section-box">
				<div class="navbar">
					<h2 class="welcome-banner">
					 Hi and Welcome to the 100 Motels demo site!<br>
					 <small>100 Motels is an idea I have to help independent musicians like myself get out on tour without industry backing or paying to play.</small>
					</h2>
	  			<div id="welcome-nav" class="navbar-inner" align="center">
	  				<div class="label-box">What do you want to do?</div>
						<ul class="nav">
							<li class="span2">
		    				<a href="#new-promoters">Tour my music</a>
		  				</li>
		  				<li class="span3"><a href="#promoter-apply">Organize a show</a></li>
		  				<li class="span2"><a href="#latest-events">Buy a ticket</a></li>
		  				<li class="span3"><%= link_to "More about 100 Motels", info_path %></li>
						</ul>
					</div>
				</div>
			</div>
		<div id="content">
			<section id="latest-events">
				<header>
					<h3>
						Latest Shows in your Locality
						<small id="geolocation"></small>
					</h3>
				</header>
				<div id="events-carousel" class="carousel slide" data-interval="false">
					<div id="events" class="carousel-inner">
						<div class="item active">
								<ul class="thumbnails">
									<% @events.each do |event| %>
									<li class="span4">
										<div class="thumbnail">
											<img src="http://placehold.it/360x240&text=ArtistPic" alt="">
											<div class="caption">
												<h4 class="title">
													<%= event.artist %>
												</h4>
												<p><%= event.venue %> on <%= time_tag event.date %></p>
												<%= button_to "Info & Tickets", event_path(event), method: :get, class: "btn", id: event.artist %>
											</div>
										</div>
									</li>
									<% end %>
								</ul>
							<div id ="#latest-shows" class="carousel-caption">
								<!-- <h4>Events by location</h4> -->
								<p>This is a listing of geolocated events, on a basic level 100 Motels is a boxoffice app and operates exactly as you would expect, click through to a specific event and check it out.</p>
							</div>
						</div>
						<div class="item">
								<ul class="thumbnails">
									<% @events.each do |event| %>
									<li class="span4">
										<div class="thumbnail">
											<img src="http://placehold.it/360x240&text=ArtistPic" alt="">
											<div class="caption">
												<h4 class="title">
													<%= event.artist %>
												</h4>
												<p><%= event.venue %> on <%= time_tag event.date %></p>
												<%= button_to "Info & Tickets", event_path(event), method: :get, class: "btn" %>
											</div>
										</div>
									</li>
									<% end %>
								</ul>
						</div>
					</div>
					<a class="left carousel-control" href="#events-carousel" data-slide="prev">‹</a>
					<a class="right carousel-control" href="#events-carousel" data-slide="next">›</a>
				</div>
			</section>

			<section id="new-promoters">
				<header>
					<h3>Top Promoters</h3>
				</header>
				<div id="promoters-carousel" class="carousel slide" data-interval="false">
					<div id="promoters" class="carousel-inner">
						<div class="item active">
								<ul class="thumbnails">
									<% @users.each do |user| %>
									<li class="span3">
										<div class="thumbnail">
											<img src="http://placehold.it/360x240&text=PromoterPic">
											<div class="caption">
												<h3 class="title"> Promoter Name</h3>
												<h4>Location</h4>
												<%= button_to "Full Profile", user_path(user), method: :get %>
											</div>
										</div>
									</li>
									<% end %>
								</ul>
							<div class="carousel-caption">
								<!-- <h4>A vetted list of showmakers</h4> -->
								<p> The promoters listing will be of interest to artists looking to play in a specific locality. Click on an individual profile for a detailed breakdown on what each promoter has to offer.</p>
							</div>
						</div>
						<div class="item">
								<ul class="thumbnails">
									<% @users.each do |user| %>
									<li class="span3">
										<a class="thumbnail" href="#">
											<img src="http://placehold.it/360x240&text=PromoterPic" alt="">
										</a>
										<h3 class="title"> Promoter Name</h3>
										<p>
											<%= button_to "Full Profile", user_path(user), method: :get %>
										</p>
									</li>
									<% end %>
								</ul>
						</div>
					</div>
					<a class="left carousel-control" href="#promoters-carousel" data-slide="prev">‹</a>
					<a class="right carousel-control" href="#promoters-carousel" data-slide="next">›</a>
				</div>

			<section id="promoter-apply">
				<div class="well well-large">
					<h3>Looking to put on Shows?...Apply to become a Full Member</h3>
					<blockquote>
						<p> Initially at least my idea is to vet prospective promoters as opposed to having a completely open community, although there is technically no reason to prevent the latter. There could be a fee for membership dependent on the level of promoter activity.</p><br>
						<p>Ordinary users can choose to create an account with 100 Motels when purchasing tickets but for promoters there's a different process. </p>
					<p>If you click the signup button below you will be taken to Stripe.com to either authorize an existing account for use with 100 Motels or to create one.
						This enables promoters to be paid directly and is only available to US or Canadian citizens at the time of writing.</p>
						<p>100 Motels recieves a per transaction fee for each ticket purchased while Stripe's processing fees are applied directly to the promoter's account.</p> <br>
						<p>For more details on this and all other technical queries regarding the service click on the 'More Info' button below.</p>
					</blockquote>
					<div class="btn-group">
						<%= link_to "Sign up!", user_omniauth_authorize_path(:stripe_platform), class: "btn btn-large btn-primary" %>
					  <%= link_to "More Info", info_path, class: "btn btn-large" %>
					</div>
				</div>
			</section>
		</div>
	</div>




