<div class="container">
			<div class="section-box" id="opener">
				<div class="navbar">
					<div class="jumbotron">
						<h1>
						 100 Motels<br>
						 <small>organize underground music</small> <br>
						 <%= link_to "Info & Signup", new_user_registration_path, class: "btn btn-large btn-inverse" %>
						</h1>
					</div>
				</div> <!-- /navbar -->
				<div class="row-fluid headlines">
					<div class="span4">
	          <h2>Money</h2>
	          <p>Sell as many tickets as you like without incurring fees or charges - no time limits. The charge is just 1% + bank fees to draw down the cash from your ticket sales.</p><br>
	          <p align="center"><%= link_to "Learn More »", info_path(anchor: "money"), class: "btn" %></p>
	        </div>
					<div class="span4">
	          <h2>Tickets</h2>
	          <p>A web ticketing platform with one-click purchases, QR coded tickets and other handy stuff. Mobile app 'Doorman' for keeping track of things on the night is a WIP.</p> <br>
	          <p align="center"><%= link_to "Learn More »", info_path(anchor: "organizing"), class: "btn" %></p>
	        </div>
					<div class="span4">
	          <h2>Shows</h2>
	          <p>Organize one yourself or browse our listing for someone to do it for you. You can also request to support artists headlining existing shows. </p><br><br>
	          <p align="center"><%= link_to "Learn More »", info_path(anchor: "how"), class: "btn" %></p>
	        </div>
				</div> <!-- /headlines -->
			</div>
			<!-- THE THREE MAIN SECTION -->
		<div id="content">
			<section id="latest-events">
				<header class="page-header">
					<h3>
						Latest Shows <%= link_to "Wherever you are »", events_path, class: "pull-right btn btn-large" %>
					</h3>
				</header>
				<div id="events-carousel" class="carousel slide" data-interval="false">
					<div class="carousel-inner">
						<% @events.each_slice(3) do |event| %>
						<div class="item">
								<ul class="thumbnails">
									<li class="span4">
										<a class="thumbnail" href="<%= event_path(event[0]) %>">
											<% if event[0].image? %>
												<%= filepicker_image_tag event[0].image, width: 360, height: 240, fit: 'crop' %>
											<% else %>
												<img src="http://quickimage.it/360x240&text=ArtistPic" alt="">
											<% end %>
											<div class="caption">
												<h4 class="title">
													<%= event[0].artist %>
												</h4>
												<h4><em><%= time_tag event[0].date %> at <%= event[0].venue %></em></h4>
												<%= button_to "Info & Tickets", event_path(event[0]), method: :get, class: "btn btn-success", id: event[0].artist %>
											</div>
										</a>
									</li>
									<li class="span4">
										<% if event[1] %>
											<a class="thumbnail" href="<%= event_path(event[1]) %>">
												<% if event[1].image? %>
													<%= filepicker_image_tag event[1].image, width: 360, height: 240, fit: 'crop' %>
												<% else %>
													<img src="http://quickimage.it/360x240&text=ArtistPic" alt="">
												<% end %>
												<div class="caption">
													<h4 class="title">
														<%= event[1].artist %>
													</h4>
													<h4><em><%= time_tag event[1].date %> at <%= event[1].venue %></em></h4>
													<%= button_to "Info & Tickets", event_path(event[1]), method: :get, class: "btn btn-success", id: event[1].artist %>
												</div>
											</a>
										<% else %>

										<% end %>
									</li>
									<li class="span4">
										<% if event[2] %>
											<a class="thumbnail" href="<%= event_path(event[2]) %>">
												<% if event[2].image? %>
													<%= filepicker_image_tag event[2].image, width: 360, height: 240, fit: 'crop' %>
												<% else %>
													<img src="http://quickimage.it/360x240&text=ArtistPic" alt="">
												<% end %>
												<div class="caption">
													<h4 class="title">
														<%= event[2].artist %>
													</h4>
													<h4><em><%= time_tag event[2].date %> at <%= event[2].venue %></em></h4>
													<%= button_to "Info & Tickets", event_path(event[2]), method: :get, class: "btn btn-success", id: event[2].artist %>
												</div>
											</a>
										<% else %>

										<% end %>
									</li>
								</ul>
						</div>
						<% end %>
					</div>
					<a class="left carousel-control" href="#events-carousel" data-slide="prev">‹</a>
					<a class="right carousel-control" href="#events-carousel" data-slide="next" id="next-event">›</a>
				</div>
				<hr>
			</section>
		</div>
		<!-- MODAL FOR ORGANIZER -->
</div> <!-- /main container -->




