<section class="container">
	<div id="cart">
		<%= render @cart %>
	</div>
</section>

<section class="container">
	<header>Latest Events</header>
	<div id="events">
		<ul>
			<% @events.each do |event| %>
			  <li class="title"><%= event.artist %></li>
				<li><%= event.venue %></li>
				<li><%= event.date %></li>
				<li><%= event.ticket_price %></li>
		</ul>
				<%= link_to "Show Details", event_path(event) %>
				<%= button_to "Add to Cart", line_items_path(event_id: event) %>
			<% end %>
	</div>
</section>

<section class="container">
	<header>Top Promoters</header>
	<div id="promoters-preview">
		<ul>
			<% @users.each do |user| %>
				<li class="placehold-image"> <img src="http://placehold.it/100x100">
			  <li class="email"><%= user.email %></li>
		</ul>
				<%= link_to "Promoter Profile", admin_user_path(user), class: "linky-hover" %>
			<% end %>
	</div>
</section>





