<div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><%= link_to "Search Events", events_path %></li>
          <li><%= link_to "Help & Information", info_path %></li>
          <% if current_user %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <i class="icon-user"></i></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Save your Account", signup_path if current_user.guest? %></li>
                <li><%= link_to "User Account", user_path(current_user) %></li>
                <% if current_user.events.empty? %>
                  <li><%= link_to "New Event", new_organizer_event_path %></li>
                <% else %>
                  <li> <%= link_to "Your Events", organizer_event_path(current_user.events.first) %>  </li>
                <% end %>
                <li class="divider"></li>
                <li><%= link_to "Sign out", logout_path %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", login_path %></li>
          <% end %>
        </ul>
        <h3 class="muted">100 Motels</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>Did you ever want to put on an event...<br>
          <small>but you weren't sure if it was worth it?</small>
        </h1> <br>
        <p class="lead">As a musician that was often my experience when it came to playing shows. Nobody wants to pay money up front and hope for a return. 100 Motels lets you try out an event, tweak it, and then decide. <br><br> Go ahead, try it out.  </p>
        <%= link_to "Create a Free Event", guest_profiles_path, method: :post, class: 'btn btn-large btn-success' %>
      </div>

      <hr>

      <div class="footer">
        <p>© seocahill 2012</p>
      </div>

    </div>

