<div class="landing-top">
  <div class="logo-nav">
    <% unless current_user %>
      <h2>100 Motels | <small><%= link_to "sign-in", login_path %> &middot; <%= link_to "events", events_path %> </small></h2>
    <% end %>
  </div>
  <div class="headline small-container text-center container">
    <h2>
      <span class="black-background">Tour the world without a record label.</span>
    </h2> <br>
    <div class="row-fluid">
      <div class="span3 offset1"><%= new_or_view_event %></div>
      <div class="span6 search"><%= render 'search' %></div>
    </div>
    <div class="row-fluid">
      <div class="span6 offset6 learn-more">
        <a href="#info-section"> learn more <i class="icon-chevron-sign-down"></i></a>
      </div>
  </div>
</div>
<div class="landing-bottom small-container container" id="info-section">
  <div class="row-fluid">
    <div class="span6 offset6">
      <h3>What is it?</h3>
      <p class="lead">A Funding & Ticketing platform for building viable live events. No time-limits, no cancellation fees, no risk.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6 offset6">
      <h3 class="">Who is it for?</h3>
      <p class="lead">Any party who is concerned about reaching a cash or attendance target before commiting to a live event.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6 offset6">
      <h3 class="">Why?</h3>
      <p class="lead">Because no one enjoys empty venues. <br>
      Because independent music isn't being toured. <br>
      Because Artists should never pay to play. </p>
     </div>
  </div>
  </div>
  <div class="row-fluid">
    <div class="try-it-now pagination-centered span12">
      <p class="lead"><%= link_to "Read more about how it works", info_path %></p> <%= new_or_view_event %>
    </div>
  </div>
</div>

