<div class="landing-top">
  <div class="logo-nav">
    <% unless current_user %>
      <h2>100 Motels | <small><%= link_to "sign-in", login_path %> &middot; <%= link_to "events", events_path %> </small></h2>
    <% end %>
  </div>
  <div class="headline small-container text-center container">
    <h2>
      <span class="black-background">Tour the world without a record label.</span>
    </h2> <br>
    <div class="row-fluid">
      <div class="span3 offset1"><%= new_or_view_event %></div>
      <div class="span6 search"><%= render 'search' %></div>
    </div>
    <div class="row-fluid">
      <div class="span6 offset6 learn-more">
        <a href="#info-section"> learn more <i class="icon-chevron-sign-down"></i></a>
      </div>
  </div>
</div>
<div class="landing-bottom small-container container" id="info-section">
  <div class="row-fluid">
    <div class="span6 offset6">
      <h3>Features</h3>
      <p class="lead">A Funding & Ticketing platform designed to be flexible and reusable. No time-limits, take as long as you need.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6 offset6">
      <h3 class="">Fees</h3>
      <p class="lead">Total is equal to 3.9% + 30c per transaction added-on (you keep the full ticket price), full refunds including fees.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6 offset6">
      <h3 class="">Beta</h3>
      <p class="lead">If you want to participate (please do!) be aware that some restrictions apply.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6 offset6">
      <h3 class="">For Artists</h3>
      <p class="lead">Built by independent Artists for the love of good music, late nights and adventure.</p>
    </div>
  </div>
  </div>
  <div class="row-fluid">
    <div class="try-it-now pagination-centered span12">
      <p class="lead"><%= link_to "Read more about how it works or", info_path %></p> <%= new_or_view_event %>
    </div>
  </div>
</div>

