<div class="container-fluid">
  <div class="row-fluid row">
    <div class="span3">
      <div class="well sidebar-nav-fixed" id="">
        <ul class="nav nav-list">
          <li class="nav-header">Today's Sales <span class="badge badge-info pull-right"><%= @sales.count %></span></li>
          <% @sales.each do |s| %>
          <dd><%= s.name %>, <%= Event.find(s.event_id).artist %>, <%= pluralize(s.quantity, "ticket") %></dd>
          <% end %>
          <li class="divider"></li>
          <li class="nav-header">Tour requests <span class="badge badge-info pull-right">8</span></li>
          <li><a href="">From Artist re:show</a> </li>
          <li><a href="">From Artist re:show</a> </li>
          <li><a href="">From Artist re:show</a> </li>
          <li class="divider"></li>
          <li class="nav-header">Support Requests <span class="badge badge-info pull-right"><%= @requests.count %></span></li>
          <% @requests.each do |r| %>
          <dd><%= r.user.name %> <%= distance_of_time_in_words_to_now(r.created_at, include_seconds = false) %> ago</dd>
          <% end %>
          <li class="divider"></li>
          <li>
            <%= link_to "All Requests >>", promoter_requests_path, class: "btn btn-large" %>
            <!-- <a href="" class="btn btn-large">All Requests >></a> -->
          </li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->

    <div class="span9 span-fixed-sidebar">
      <div class="page-header">
        <h2>Hi <%= current_user.name %>
        <small>This is your promoter administrative area</small></h2>

      </div>
      <div class="row-fluid">

        <div class="span6">
          <h4>Public Profile</h4>

          <p>Your public profile is where people can view information and statistics about all the shows you have organized. You can edit it in place by clicking on the edit link at the top of your profile. You can also hide or delete your profile at any time, by default your profile is hidden. </p>
          <% if current_user.profile %>
            <p><%= link_to "View >>", promoter_profile_path(current_user), class: "btn btn-primary" %></p>
          <% else %>
            <p><%= link_to "Create your Profile", new_promoter_profile_path(current_user), class: "btn btn-success" %></p>
          <% end %>
        </div><!--/span-->
        <div class="span6">
          <h4>Your Events</h4>
          <p>All your current and past events are listed here. You can edit the event details, including applying on-the-fly ticket discounts (info docs for more) as well as viewing all current tickets sales and customer details. Charges and refunds can also be applied in this section, either in bulk or isolation. </p>
          <p><%= link_to "View >>", promoter_events_path, class: "btn btn-primary" %></p>
        </div>



      <div class="row-fluid">
        <div class="page-header"></div>
        <div class="span6">
          <h4>Payments</h4>
          <p>All our payments processing is handled by Stripe. In order to receive sales monies into your bank account, you need to connect a Stripe account to your 100 Motels account. Click on the button below, fill out the Stripe application form or login to your existing account and you're good to go.</p>
          <p><% if current_user.api_key %>
              <button class="btn btn-success">Connected <i class="icon-ok-circle icon-white"></i></button>
            <% else %>
              <%= link_to image_tag('blue.png'), user_omniauth_authorize_path(:stripe_connect), class: "" %>
            <% end %></p>
        </div><!--/span-->
        <div class="span5">
          <h4>Your Account</h4>
          <p>This is your normal user account where you can update or change basic details like your password, primary email etc. If you are also a customer of other 100 Motels promoters you can add or update a credit card here. </p>
          <p><%= link_to "View >>", user_path(current_user), class: "btn btn-primary" %></p>
        </div><!--/span-->
      </div>

        </div><!--/span-->
      </div><!--/row-->
    </div><!--/span-->
  </div><!--/row-->

  <hr>

</div><!--/.fluid-container-->​