<table class="table" id="requests">
  <thead>
    <tr>
      <th>Event</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <% for user in event.users do %>
        <tr>
          <td><%=  %></td>
          <td><%= event.artist %>, <%= event.venue %>, <%= time_tag event.date %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= link_to raw('<i class="icon-music"></i>'), "", id: "media-preview", class: "btn", data: { media: "#{user.media_html}"} %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<div class="modal large hide fade" id="preview-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3></h3>
  </div>
  <div class="modal-body">
    <div id="media-frame"></div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>