<% unless current_user.guest? %>
  <div id="user-profile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Your Profile</h3>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="row-fluid">
          <div class="span6" id="member-avatar">
            <%= current_user.avatar %>
          </div>
          <div class="span6">
            <dl>
              <dt>Name</dt>
              <dd><%= current_user.user_name %></dd>
              <dt>Email</dt>
              <dd><%= current_user.user_email %></dd>
            </dl>
            <%= form_for current_user.profile do |f| %>
              <%= f.filepicker_field(:avatar,
               onchange: "$('#member-avatar img').attr('src', event.fpfile.url).attr('fit', 'clip').attr('height', '200').attr('width', '200');", button_text: "Change Avatar", button_class: "btn") %>

            <%= current_user.password_reset %>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <%= f.submit "Save", class: "btn btn-primary" %>
       <button class="btn" data-dismiss="modal">Exit</button>
    </div>
  </div>
  <% end %>
<% end %>