<!DOCTYPE html>
<html>
  <head>
    <title> <%= yield(:title) || "100 Motels" %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= filepicker_js_include_tag %>
    <%= javascript_include_tag "application" %>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-513ba15373992907"></script>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
    <!--if [lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <a id="menu-toggle" href="#" class="btn btn-default btn-lg toggle"><i class="fa fa-bars"></i></a>
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand"><%= link_to "100 Motels", root_path %></li>
        <li><%= link_to "Events", events_path unless current_user %></li>
        <% if current_user and current_user.guest? %>
          <li><%= link_to("Save your Account", user_path(current_user))%></li>
        <% end %>
        <% if current_user and !current_user.guest? %>
          <li><%= link_to("Your Account", user_path(current_user))%></li>
          <li><%= link_to "Dashboard", admin_events_path %></li>
          <li><%= link_to("New Event", new_admin_event_path) %></li>
        <% end %>
        <% if current_user and !current_user.guest? and @event.try(:id) %>
          <li><%= link_to("Edit Event", edit_admin_event_path(@event)) %></li>
          <li><%= link_to("Event Orders", admin_event_path(@event)) %></li>
          <li><%= link_to("Ticket Check", admin_event_tickets_path(@event)) %></li>
          <li><%= link_to("Notify, Reschedule or Cancel", new_admin_event_message_path(@event)) %></li>
        <% end %>
        <li class="divider"></li>
        <li><%= link_to("Sign In", login_path) unless current_user %></li>
        <li><%= link_to("Sign Out", logout_path) if current_user %></li>
      </ul>
    </div>
    <div class="wrapper">
      <div class="container flash-messages">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key == :notice ? "success" : "danger" %>">
            <a class="close" data-dismiss="alert">&#215;</a>
            <%= content_tag :div, value, :id => "flash_#{key}" if value.is_a?(String) %>
          </div> <!-- /flash -->
        <% end %>
      </div>
      <%= yield %>
    </div> <!-- /content container -->
    <div class="push"></div>
    </div> <!-- /wrap -->
    <footer>
      <span>© 100 Motels 2013 | <%= link_to "legal", info_path %> | <%= link_to "privacy", info_path %> | <%= link_to "info", info_path %> | <a href="//www.seocahill.com">blog</a></span>
    </footer>
  </body>
</html>
