<!DOCTYPE html>
<html>
  <head>
    <title>
    	<% if content_for?(:title) %>
    		<%= yield(:title) %>
    	<% else %>
    		100 Motels
    	<% end %>
    </title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= filepicker_js_include_tag %>
    <%= csrf_meta_tags %>
    <!--if [lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="wrap">
      <div class="container">
        <%= yield %>
      </div> <!-- /content container -->
    </div>
  </body>
</html>
